[2014-10-24 02:47] rgaiacs opened #1 "[meta] Dropping Jekyll in favor of Pandoc"
@gvwilson [suggested](http://software-carpentry.org/blog/2014/10/a-new-template-for-lessons.html) to use Pandoc instead of Jekyll:

What the status of this?

[2014-10-24 14:23] gvwilson commented on #1
1. We should use the same tooling for workshop websites and for lessons,
   so that people don't have to learn two.
2. But the Markdown processors available on GitHub don't seem to support
   the attribute-on-opening-bar syntax for `pre` blocks that we want.

Suggestions?

[2014-10-24 20:19] rgaiacs commented on #1
Just a prototype for pandoc: https://github.com/r-gaia-cs/lesson-template/tree/pandoc.

[2014-11-10 16:52] aaren opened #4 "converting blockquotes to div"
Where is the code that does the blockquote-div post-processing? Is that something that you need writing?

In the README:

[2014-11-10 17:32] aaren opened #5 "no _layouts directory"
There is no `_layoust` directory and consequently `make preview` in 'pages/' gives

[code]

Is `_layouts/page.html` meant to be the same as that in [workshop-template](https://github.com/swcarpentry/workshop-template/blob/gh-pages/_layouts/page.html)?

[2014-11-10 17:51] aaren opened #6 "Keep gh-pages for output only"
Rather than using `gh-pages` for development _and_ for storing the generated site, how about we spilt these two functions?

Here's the workflow:
1. new repo on github
2. add lesson-template as remote
3. pull template to `master`
4. write some lessons on `master`
5. `make pages`
6. git push origin gh-pages

I'm suggesting modifying the pages recipe in the Makefile to
1. make the site in a .gitignor

[2014-11-10 17:54] gvwilson commented on #4
Yes, the post-processor needs to be written - if you'd like to help us
get started, please mail me (gvwilson@software-carpentry.org) and I'll
fill you in.

[2014-11-10 18:00] #5 closed, assigned to nobody

[2014-11-10 18:01] #1 closed, assigned to nobody

[2014-11-10 18:02] gvwilson commented on #6
Thanks for the suggestion - we discussed this, and variations on it, and decided that having everything in one branch would be simpler and more reliable for most of our instructors.

[2014-11-10 18:02] #6 closed, assigned to nobody

[2014-11-10 18:15] gvwilson opened #8 "Include page name in emailed bug reports"
`_includes/footer.html` contains a mailto: link to send a bug report on a page.  Problem is, it needs the path to the page.  We could pass that as a variable to Pandoc, but because we're using variable expansion to do file inclusion, variables in the included files (like the footer) _won't_ be expanded.

[2014-11-10 21:51] rgaiacs opened #11 "Missing CSS files"
[code]

[2014-11-12 06:40] vahtras opened #15 "Unclear README.md"
At the top of  README.md there nine points describing how to create a new lesson. I find the first five very unclear. There are a lot of references to "this repository", "that repository", "your repository", which make me spend a lot of time figuring out what is really meant. As there are many ways of making mistakes in git, I would prefer is these steps could be reformulated in terms of a concret

[2014-11-12 08:45] aaren commented on #15
What if we scripted steps 1-5 and put them in `bootstrap.sh` or something like that?

We can script the repo creation using the github api, with a prompt for the name of it.

[2014-11-12 08:50] vahtras commented on #15
Yes, that would certainly help

[2014-11-12 09:55] karinlag commented on #15
On 11/12/2014 09:50 AM, Olav Vahtras wrote:

+1 to that. That would make things even easier for newbies, and, also
they can have a look at the script for learning purposes if they want to.

## Karin

Karin Lagesen, Ph.D.
Department of Medical Genetics
Oslo University Hospital
http://blog.karinlag.no

[2014-11-12 12:26] gvwilson commented on #15
+1 to a script (we can use `tools/create` from the workshop-template as
a starting point).  Would someone like to volunteer to create it?  But I
think we should still have the manual instructions in this `README.md`,
just as we do in workshop-template's.

[2014-11-12 12:43] aaren commented on #15
How about a script and an instruction for running that script ('run `./bootstrap.sh`') and a link to the manual instructions, which are in a different file?

This would avoid cluttering the main README with potentially confusing instructions.

[2014-11-12 13:00] gvwilson commented on #15
I think our two kinds of users (people who are new to Git and want the
script, and people who are comfortable with Git and will do things by
hand "just to be sure") will want equal billing - the README.md in the
workshop-template repo seems to be a good compromise so far.

[2014-11-12 19:54] rgaiacs opened #16 "Add GitHub Ribbon"
Need to apply

[code]

but with the correct value for href (i.e. not bc repo).

[2014-11-12 19:57] #11 closed, assigned to nobody

[2014-11-12 22:40] aaren commented on #15
I can make a script in bash but won't be able to til the weekend. If someone else wants to have a go before then, please go ahead.

[2014-11-13 13:46] rgaiacs opened #17 "Add 'getting-started' as a GitHub label to encourage new contributors"
Following swcarpentry/workshop-template#44.

@willingc Thanks.

[2014-11-13 13:46] rgaiacs commented on #17
I'm closing this since I did it.

[2014-11-13 13:46] #17 closed, assigned to nobody

[2014-11-14 10:39] #4 closed, assigned to nobody

[2014-11-16 11:38] rgaiacs opened #25 "Why blockquote for Prerequisites?"
@gvwilson Why

[code]

instead of

[code]

If you want some style for it we should use

[code]

[2014-11-17 11:22] gvwilson commented on #25
1. A blockquote because we want to apply a style to the whole thing and Markdown doesn't have `div`.
2. My thought was that we could inject the `{.prerequisites}` attribute during processing (because the title `Prerequisites` has to be there), and save people having to provide duplicate information - same with learning objectives.

[2014-11-17 11:24] gvwilson commented on #15
Not clear where this discussion has gotten, but does #31 address the original issue?

[2014-11-17 13:46] rgaiacs opened #32 "Apply CSS based on id instead of class"
Related with #25.

Since Pandoc sets id attribute for headers:

[code]

what about use

[code]

instead of

[code]

in our CSS? This will avoid some post processing.

[2014-11-17 14:03] aaren commented on #32
@r-gaia-cs it would be easy to modify the filter to set the class based on the title, i.e. remove the need to specify a class in the blockquote header.

Then a blockquote that begins with '## Prerequesites` (or some other permitted title) gets turned into a div with class 'prerequestites'.

Note that you can set the id of the header to whatever you want, e.g.

[code]

becomes

[code]

[2014-11-17 16:59] gvwilson opened #34 "Design of lesson validation tool."
Please use this issue for discussion of design of a lesson validation tool (`tools/check`).

[2014-11-17 21:25] abought commented on #34
I've also been working on an independent validation tool; please let me know if there are features worth combining. https://github.com/abought/lesson-template/tree/gh-pages/tools

Validation of the markdown does make the most sense, as it allows us to change the HTML template without rewriting the validator. (content separate from presentation)

Raniere's tool is based on the raw markdown text (ea

[2014-11-18 01:56] rgaiacs commented on #32
@aaren Thanks.

I'm closing this based on @aaren's comment and because I forgot that we want a style for all the section and not only for the title.

[2014-11-18 01:56] #32 closed, assigned to gvwilson

[2014-11-19 03:35] gvwilson commented on #34
Whoa - can you please PR this so we can bring it into the
lesson-template repo and start merging with @r-gaia-cs's stuff? This is
awesome...
Thanks,
Greg

[2014-11-26 09:15] aaren commented on #25
How do we close this?

There is an inconsistency between the `README`, which states:

[code]

and `index.md`, which contains:

[code]

I can add `.prereqs` to the special classes list so that it gets converted to a div, allowing css to be applied to it, and update `index.md`. This would be consistent with how we are doing it for the other blockquote divs and would close this issue.

[2014-11-26 09:42] rgaiacs commented on #25
@aaren The inconsistency is because

To close this we need to change `tools/ blockquote2div.py` to it add the class `prerequisites` to every `blockquote`/`div` starting with the title `Prerequisites`.

[2014-11-27 13:13] rgaiacs commented on #25
Closed by #37.

[2014-11-27 13:41] #25 closed, assigned to gvwilson

[2014-12-03 14:30] rgaiacs opened #39 "Rename validate_markdown_template.py to check"
**Related with** #34 and #35.

[2014-12-03 14:35] rgaiacs opened #40 "[check] Report problem with links to local files that aren't HTML"
**Related with** #34 and #35.

If I make the following change:

[code]

and run our validator

[code]

No error was reported about the broke link.

[2014-12-03 14:40] rgaiacs opened #41 "[check] Report problem with wrong heading level"
**Related with** #34 and #35.

If I make the following change:

[code]

and run our validator

[code]

No error was reported about the wrong heading level.

[2014-12-03 16:34] abought commented on #40
@r-gaia-cs : Thanks; I was not aware of this requirement. Currently it only validates that local html links have a matching Markdown file.
1. What other links must be validated? (is "any other local file" sufficient?)
2. In cases where it links to a file, are there any restrictions on asset location? (the validator needs to know where to look relative to the file being examined)

For a first pass,

[2014-12-03 17:06] rgaiacs commented on #40
Yes. Any other local file. E.g.
1.  Link to another HTML.

[code]
2.  Link to another HTML with position

[code]

   This one you can leave for know. I need to talk with Greg about the
   glossary.
3.  Link to non-HTML file.

[code]
4.  "Inline" figures.

[code]
5.  "Float" figures.

[code]

All the links should be relative.

Thanks.

[2014-12-03 20:54] abought commented on #40
I've added validation for the above requested items, and unit tests for the specific strings you indicated above. It now checks local file links as well as images.

If *.html, it checks that there is a corresponding markdown file in the same folder as the document being validated. If the path is anything else, it checks that the file exists in that path relative to the document root. Web links are

[2014-12-03 20:59] abought commented on #39
Done.

[2014-12-03 21:06] abought commented on #41
This example fixed in head: mandated that Prerequisites block (index.md) and Learning Objectives block (topic pages) have a level 2 heading.

Followup question for @r-gaia-cs : should other document headings also always be restricted to level 2?

Are there documents where a different heading level is either allowed, or preferred? (eg, discussion.md is fairly free-form)

[2014-12-03 21:58] rgaiacs commented on #41
Thanks.

From Greg's design of how lessons should be, each file `[0-9]{2}-.*\.md`
**must** be cover in 10-15 minutes so authors probably don't need heading except
for Learning Objectives, Call out box, ...

So, I'm OK that the validate check that all headings are level 2. If you prefer,
check that at least they are >= 2.

For `discussion.md` you can only check if headings are >= 2.

[2014-12-04 01:56] abought commented on #41
Sounds like simple (and predictable) is the best option- thanks for the insight. The validator now checks that all headings are exactly level 2.

[2014-12-05 01:13] rgaiacs commented on #39
@abought What about also
- `test_markdown.py` -> `test_check.py`
- `validation_helpers.py` -> `check_commons.py`

[2014-12-05 01:23] rgaiacs opened #42 "[check] Some tests fail"
[code]

@abought Any comment?

[2014-12-05 06:04] abought commented on #42
This is a solid find, @r-gaia-cs : ensuring the validator is actually up to spec is a major priority for me. Thanks!

I've made some small changes (a bugfix and some test cleanup) that bring the number of failed tests down to two.

The failure of Reference and Instructor was due to a bug when I switched these validators over to allow headings besides the ones included in the spec. Fixed; my fault

[2014-12-05 10:26] rgaiacs commented on #42
I did notice this erros. I didn't mention it because I was thinking what we
should do and maybe they are the only cases that we should avoid check the title
of the files. Why? `motivation.html` is the slide deck to start the session and
the title of the slide deck propably won't be "Motivation".

[2014-12-05 17:03] rgaiacs opened #43 "Why img and fig directories?"
@gvwilson Can you explain?

[2014-12-05 18:34] #39 closed, assigned to nobody

[2014-12-05 18:37] rgaiacs commented on #42
Close since this was covered in #35.

[2014-12-05 18:37] #42 closed, assigned to nobody

[2014-12-05 18:37] rgaiacs commented on #41
Close since this was covered in #35.

[2014-12-05 18:37] #41 closed, assigned to nobody

[2014-12-05 18:37] rgaiacs commented on #40
Close since this was covered in #35.

[2014-12-05 18:37] #40 closed, assigned to nobody

[2014-12-05 18:37] rgaiacs commented on #34
Close since this was covered in #35.

[2014-12-05 18:37] #34 closed, assigned to nobody

[2014-12-05 19:23] gvwilson commented on #43
`img` is for stock images like the website logo that the validator can
look for - `fig` is things that are part of the lesson.
Cheers,
Greg

[2014-12-09 02:19] rgaiacs opened #46 "Improve tools/check to be compatible with id at glossary entries"
After apply #44 and

[code]

`tools/check` will give some errors:

[code]

`tools/check` need to be updated to cover this case.

[2014-12-09 02:28] abought commented on #46
Anchor links are actually ignored; in initial testing they had no effect on the link validation. Though I agree that the first half of the error message could be clearer about that.

This error message happens when the text of the link is different than the `subtitle` YAML header of the linked document.

A link as follows... `possibly including [definitions](reference.html#key-word-1)`) will check

[2014-12-10 14:34] gvwilson opened #48 "Separating core template from example files"
1.  The `lesson-template` repository currently includes:
   -   _core files_ such as CSS and tools
   -   _starter files_ such as `index.md`
   -   _example files_ such as `01-one.md`
2.  When an author creates a lesson repository (e.g., `my-lesson`), she imports all these files and:
   -   edits the starter files (e.g., replaces the content of `index.md` with her own content)
   -   deletes the e

[2014-12-10 16:02] jrsmith3 commented on #48
I can see how having two separate repos would be conceptually simpler for novice git users [1].

I think it should be easy to create two separate repos from the current `lesson-template` repo. My suggestion would be to `git rm` the _starter_ and _example_ files in `lesson-template` and make a commit. Then clone `lesson-template` and re-add the files by hand. Finally, we would create a new github r

[2014-12-10 16:04] jrsmith3 commented on #48
I can start working on an provisional solution to this issue immediately if I can get an answer to question 1 above (which files should be in _example_ that shouldn't be in _core_).

[2014-12-10 16:16] gvwilson commented on #48
I can get you that list, but I really want to preserve history if at all
possible - I still feel bad about throwing it away last August when we
moved to `bc`, and don't want to be back in the "recover history after
the fact" situation" we're in now as we extract.  Can you confirm that's
possible?

[2014-12-10 16:18] jrsmith3 commented on #48
Do not worry, the history will be preserved. I've forked this `lesson-template` repo into my own account and I will hack on it there. When I'm done I will post a message here so you can see what I did.

[2014-12-10 16:21] gvwilson commented on #48
-   core files:
  -   `Makefile`
  -   `_includes/`
  -   `_layouts/`
  -   `css/`
  -   `deck.js/`
  -   `img/`
  -   `js/`
  -   `tools/`
-   starter files:
  -   `LICENSE.md`
  -   `discussion.md`
  -   `index.md`
  -   `instructors.md`
  -   `motivation.md`
  -   `reference.md`
-   example files:
  -   `README.md`
  -   `01-one.md`
  -   `02-two.md`
  -   `DESIGN.md`
  -   `FAQ.md`
  -   `LAYO

[2014-12-10 16:34] wking commented on #48
On Wed, Dec 10, 2014 at 08:02:15AM -0800, Joshua Ryan Smith wrote:

When I'm trying to figure out the motivation and reasoning behind a
particular line, I often use:

  $ git blame "${PATH}"

to find the commit that last touched that line.  If it's a boring
commit (e.g. whitespace cleanup), I'll drill back in the history:

  $ git blame "${BORING_COMMIT}"^ -- "${PATH}"

as many times as I need to

[2014-12-10 16:46] jrsmith3 commented on #48
I have a [provisional solution](https://github.com/jrsmith3/lesson-template).

I did the following: from the `gh-pages` branch of the freshly forked `lesson-template` repo, I created two new branches: `core` and `example`. In the `example` branch I `git rm` the _starter_ and _example_ files @gvwilson listed above. Then I merged the `core` branch in using the "ours" strategy:

[code]

At this point

[2014-12-10 17:23] gvwilson commented on #48
Thanks Joshua - I presume that if I create two new repos and pull each
of those branches into one of them, I'll wind up with the two repos I
want, with all the history, and nothing extraneous?

[2014-12-10 17:45] wking commented on #48
On Wed, Dec 10, 2014 at 06:34:09AM -0800, Greg Wilson wrote:

+1.

I'd recommend filter-branch, which we've been using to good effect to
pull lessons out of bc while preserving history.5C

I'm not pushing for the one-repository approach, I've just been
pointing out that it's not clear to me if adding a second repository
makes this easier or not.  In my penultimate off-list mail on this
subject:

T

[2014-12-10 17:52] wking commented on #48
On Wed, Dec 10, 2014 at 08:46:27AM -0800, Joshua Ryan Smith wrote:

Looks good to me :).

[2014-12-10 18:54] jrsmith3 commented on #48
@gvwilson: First, I would recommend keeping this `lesson-template` repo and simply making a new `lesson-core` repo as opposed to making new `lesson-example` and `lesson-core` repos. Otherwise you lose all of the issues, etc. that have been posted to this `lesson-template` repo. There are alternatives where you could rename this repo and I can go into greater detail if you want.

I can issue a PR f

[2014-12-10 18:57] jrsmith3 commented on #48
After making the changes I lised above, I think it might be better to just keep all of this stuff in a single repo. Here's how I would structure it:

The `lesson-template` repo should have two branches: `master` and `core`. The `master` branch contains all of the _starter_ and _example_ files as well as all the _core_ files. The `core` branch only has the _core_ files. We assume that _starter_ and

[2014-12-10 19:07] wking commented on #48
On Wed, Dec 10, 2014 at 10:57:03AM -0800, Joshua Ryan Smith wrote:

If the upstream devs have tweaked their starter/example files, you'll
have a merge conflict here.  I think you meant:

  git merge upstream/core

Other than that, this proposal makes sense to me.  One less remote
repository in play is good, but it would be good to hear why @gvwilson
considers the many-remote-repository model easie

[2014-12-10 19:13] jrsmith3 commented on #48
I like this method better than my original idea. I had originally assumed that the upstream core devs would have merged their changes into master and the downstream lesson dev would just merge it in, but this approach is safer and should be used in this scheme.

[2014-12-10 21:45] wking commented on #48
On Wed, Dec 10, 2014 at 01:23:20PM -0800, Greg Wilson wrote:

Is that -1 for the single-or-double repo question?  Your reasoning
sounds like it's a -1 for ‘make github’.  Otherwise we're just using
the branches for merging, and we'll be doing that regardless of
whether the merge is:

  $ git merge upstream/core

or:

  $ git merge lesson-core/master

[2014-12-10 21:47] gvwilson commented on #48
We teach push and pull --- I realize those are wrappers around fetch and
merge, but those are the two commands people will already know. I'd
therefore like a two-repo solution so that I can:

$ git pull somewhere gh-pages

to update the core files without touching anything else.

[2014-12-10 21:53] wking commented on #48
On Wed, Dec 10, 2014 at 01:47:15PM -0800, Greg Wilson wrote:

Sure.  I think my argument holds for pull too, where it's:

  $ git pull git://github.com/swcarpentry/lesson-template.git core

vs:

  $ git pull git://github.com/swcarpentry/lesson-core.git master

I don't see one of those as being inherently easier than the other.
If you name your remotes, it may be more slightly more complicated to
h

[2014-12-10 22:16] jrsmith3 commented on #48
Agreed. We can proceed with what I [outlined above](https://github.com/swcarpentry/lesson-template/issues/48#issuecomment-66502926) to achieve two repos by
1. Merging the [pr](https://github.com/swcarpentry/lesson-template/pull/49) I opened.
2. Transferring ownership of my [lesson-core](https://github.com/jrsmith3/lesson-core) repo to swcarpentry. Unfortunately, I don't currently have appropriate

[2014-12-10 22:45] jrsmith3 commented on #48
So I just realized a problem in [my suggested improvements](https://github.com/swcarpentry/lesson-template/issues/48#issuecomment-66503297): github doesn't let users make multiple forks of a repo. Therefore, hitting the "fork" button on the `lesson-template` only works one time, even after changing the name of the downstream fork. If a lesson dev wanted to make multiple lessons from this `lesson-t

[2014-12-10 22:49] wking commented on #48
On Wed, Dec 10, 2014 at 02:45:24PM -0800, Joshua Ryan Smith wrote:

Manual forking for the win :).  The interpretation is:
- If you're creating your own version of an existing project, fork.
- If you're spinning off a new project that just happens to be based
  on an existing project, you need to manually create the new project.

[2014-12-10 22:53] jrsmith3 commented on #48
I'm personally fine with manual forking, but its a huge bummer for git novices who also want to create lessons, specifically more than one. Instead of just hitting the "fork" button, the first thing they have to do is all this arcane command-line nonsense.

@wking, are you aware of a way to break an upstream fork on github?

[2014-12-10 23:06] gvwilson commented on #48
If you can create two brand-new empty vanilla repos with the right
names, then get the right content and history into them, we can transfer
ownership to @swcarpentry and carry on from there.

[2014-12-10 23:09] jrsmith3 commented on #48
So is the plan to abandon this repo and create two new ones? Again, I'd recommend using this `lesson-template` repo even if you decide to rename it (with [my PR](https://github.com/swcarpentry/lesson-template/pull/49) merged, of course). If you go the route of creating two new ones, you will end up with exactly what you have in this `lesson-template` repo, just without all the issue tracking metad

[2014-12-10 23:09] wking commented on #48
On Wed, Dec 10, 2014 at 02:53:09PM -0800, Joshua Ryan Smith wrote:

Or the maintainers need to provide a utility to do that for you
(e.g. [1](https://github.com/swcarpentry/workshop-template/blob/gh-pages/tools/create), for folks making new workshops).

No.

[2014-12-10 23:11] wking commented on #48
On Wed, Dec 10, 2014 at 03:09:46PM -0800, Joshua Ryan Smith wrote:

+1.  Since the examples are supposed to act as a template, I'd leave
them here and not even rename.  Just create a new `lesson-core`
repository.

[2014-12-10 23:12] jrsmith3 commented on #48
[Done](https://github.com/jrsmith3/lesson-core). It just needs to be transferred.

[2014-12-11 10:14] gvwilson commented on #48
Here's what I did, and here's what went wrong:
1.  Create a new empty repository swcarpentry/lesson-core.git (I'll skip
   the https://github.com stuff in URLs).
2.  Clone that to my desktop.
3.  Add jrsmith3/lesson-core.git as a remote.
4.  git pull from jrsmith3/lesson-core.git into the gh-pages branch of
   swcarpentry/lesson-core.git (desktop).
5.  git push gh-pages to github.com.

Everything

[2014-12-11 12:53] jrsmith3 commented on #48
Greg,
I think I see what went wrong here; it has to do with the order in which you created the swcarpentry/lesson-core repo. Here are a set of steps that should work:
1. Clone my fork of `lesson-core`. This repo has a single branch called `core`.

[code]
1. Create an _empty_ `lesson-core` repo on github
2. From the clone on your desktop, set up a remote pointing to the (empty) swcarpentry fork

[c

[2014-12-11 13:38] jrsmith3 commented on #48
Here is the issue: we are dealing with at least three forks of `lesson-template` (organized according to which github entity owns them):
1. jrsmith3
2. gvwilson
3. swcarpentry

Each have a slightly different set of commits. Since I made my modifications and issed my [PR](https://github.com/swcarpentry/lesson-template/pull/49) yesterday, it looks like another [PR](https://github.com/swcarpentry/les

[2014-12-11 16:24] wking commented on #48
On Thu, Dec 11, 2014 at 02:14:27AM -0800, Greg Wilson wrote:

Ah, yes.  You can work around that the first time with an '-s ours'
merge [1](but that will also ignore any other changes, so you only
want to use it for the single commit that removes the examples).

This will require some filter-branching, instead of @jrsmith3's
remove-and-merge-ours approach.

[2014-12-11 16:34] wking commented on #48
On Thu, Dec 11, 2014 at 08:24:18AM -0800, W. Trevor King wrote:

On the other hand, this will only be a problem for folks who are
merging the new branches into their existing work.  If you _start_
with the new core or examples branch, you won't have your additions
affected by the removal (which will already be one of your ancestors).
What local changes were you trying to integrate with your merge?

[2014-12-11 20:00] jrsmith3 commented on #48
After looking over the various repos associated with this `lesson-template` repo, I understand the problem: it looks like a [pull request was merged](https://github.com/swcarpentry/lesson-template/pull/50) after I had made my changes.

My recommendation to close this issue is to implement one repo with two branches. I know that @gvwilson has expressed his desire for two repos, but I think I can su

[2014-12-11 20:43] wking commented on #48
On Thu, Dec 11, 2014 at 12:00:06PM -0800, Joshua Ryan Smith wrote:

I don't see any technical reason behind whether this gets stored in
one or two repos.  I think that's purely a UX issue, and as I've said
before, I'm not clear on which way is more intuitive.

So I think we should just go with that ;).

And also the compiled-to-HTML versions of the example Markdown?  I'm
against versioning auto-ge

[2014-12-11 21:51] gvwilson commented on #48
I think @jrsmith3's plan is a good one: the magic with `git merge -s
ours` only has to happen once and `git pull upstream core` into a
lesson's `gh-pages` branch isn't too much to ask.  (If people
accidentally do `git pull upstream gh-pages`, which someone eventually
will, they can `git reset --hard HEAD~1` --- we'll need to document that.)

Any votes against?  @wking @r-gaia-cs @jiffyclub @jhamri

[2014-12-11 21:55] gvwilson commented on #48
Hi,

Thank you all again for the time you've put into this --- if we're
lucky, our lesson authors will never know...

Thanks,
Greg

[2014-12-11 22:08] wking commented on #48
On Thu, Dec 11, 2014 at 01:51:18PM -0800, Greg Wilson wrote:

Heh, I always use HEAD^ (or HEAD^^, HEAD^^^ ;).  I should remember
HEAD~<n> ;).  Anyhow, the ours merge and keeping it all in one repo is
fine with me too (that's what #49 was).

Thu, Dec 11, 2014 at 01:55:18PM -0800, Greg Wilson:

Then why call the branch gh-pages?  There's no HTML, and there is a
.nojekyll.  I think we should call the

[2014-12-11 22:19] jrsmith3 commented on #48
Is there any way to figure out if there are any downstream lesson authors who have manually forked `lesson-template`?

Entering this repo's first commit's hash into github's search yields nothing. Entering it into google yields another one of swcarpentry's repos, but not this one.

[2014-12-11 22:24] wking commented on #48
On Thu, Dec 11, 2014 at 02:19:28PM -0800, Joshua Ryan Smith wrote:

Hopefully they'd let us know they'd forked it so we could advertise
their lesson :).  Other than that, I don't think there's a general
way.  If we only care about folks pushing their manual fork to GitHub,
I did get a bunch of emails due to @wking references in commit
messages when they pushed up their versions of those commits
(e

[2014-12-11 22:44] jrsmith3 commented on #48
It looks like there are a few classes of people who would pull changes from this repo:
1. People who have either [forked](https://github.com/swcarpentry/lesson-template/network) this repo or [contribute](https://github.com/swcarpentry/lesson-template/graphs/contributors) to it (possibly identical sets).
2. People with downstream forks of this repo which are already under swcarpentry (i.e. [python-

[2014-12-11 22:48] wking commented on #48
On Thu, Dec 11, 2014 at 02:44:58PM -0800, Joshua Ryan Smith wrote:

Doing anything that drops the examples from the core branch is going
to be disruptive to folks who have already branched off.  This
repository hasn't been alive for all that long, so I'd just tag a new
release with a big warning in the release notes explaining the
problem, how your recommend folks recover from it, and how they can

[2014-12-11 22:52] jrsmith3 commented on #48
A

[code]

should work in most cases, don't you think?

Also: suggestions on what the tag label should be?

[2014-12-11 23:02] wking commented on #48
On Thu, Dec 11, 2014 at 02:52:08PM -0800, Joshua Ryan Smith wrote:

That's going to ignore any other commits between their last sync and
upstream/core (e.g. d2f6588, Merge pull request #50 from
abought/validator, 2014-12-10).  What you want is something like:
- Add the remote:

  $ git remote -f add upstream git@github.com:swcarpentry/lesson-template.git
  $ git fetch upstream
- Incorporate change

[2014-12-11 23:11] jrsmith3 commented on #48
Both of those are excellent suggestions. Semver seems like a pretty solid scheme. Also, I've been zinged by having upstream tags show up in a fork, so I agree with using branches instead of tags in this case.

[2014-12-11 23:15] wking commented on #48
On Thu, Dec 11, 2014 at 03:11:55PM -0800, Joshua Ryan Smith wrote:

It's easy to disable tags for a given remote, but avoiding the problem
entirely with branches gives folks one less thing to trip over ;).  On
the other hand, ‘git branch -a’ will be a bit cluttered.  If we're
worried about novice Git users managing two branches, that's probaby
clutter that we can accept ;).

[2014-12-11 23:41] gvwilson commented on #48
At this point, I suggest:
1. @jrsmith3 goes ahead and makes the change to swcarpentry/lesson-template.
2. I send a list of 10 repos that I know have imported material from
   it.  (None are forks, because a user can only have one fork of a repo,
   so we didn't.)
3. You guys do the magic.
4. We're done.

Yes?

[2014-12-12 00:11] wking commented on #48
On Thu, Dec 11, 2014 at 03:41:16PM -0800, Greg Wilson wrote:

Do you want to handle the outstanding PRs first [1](https://github.com/swcarpentry/lesson-template/pulls)?

It's not very magical [2](https://github.com/swcarpentry/lesson-template/issues/48#issuecomment-66705411).

I'd rather go through the release process because:
1. It sets a good precedent for later maintenance.
2. It lets folks who

[2014-12-12 00:24] jrsmith3 commented on #48
Do we have a release process other than creating a 0.1.0 branch?

[2014-12-12 00:27] wking commented on #48
On Thu, Dec 11, 2014 at 04:24:08PM -0800, Joshua Ryan Smith wrote:

Write up some release notes.  Stick them in a directory in the source
(doc/releases/?), and mail an anouncement to discuss@?  Maybe merge
the release into the examples branch and put a tarball of that here
[1](https://github.com/swcarpentry/lesson-template/releases) with a copy of the release notes as the message.

[2014-12-12 00:30] jrsmith3 commented on #48
Since we're using branches in lieu of git tags, should we make an empty commit for the release commit?

Also, should we open a new issue and put the release discussion in there?

[2014-12-12 00:36] wking commented on #48
On Thu, Dec 11, 2014 at 04:30:38PM -0800, Joshua Ryan Smith wrote:

I wouldn't bother.  I'd just point the new branch at the commit I
wanted to release (e.g. the one adding the release notes).

Sure.

[2014-12-12 00:49] rgaiacs commented on #43
I'm closing this based on Greg's comment.

[2014-12-12 00:49] #43 closed, assigned to nobody

[2014-12-12 01:40] gvwilson opened #51 "Makefile should not generate README.html"
Right now, the Makefile generates README.html from README.md - it shouldn't.

[2014-12-12 10:37] gvwilson opened #52 "Links in footer are incorrect"
1.  The GitHub link in the footer should point to the lesson's repo, not to a generic repo.
2.  The Bug Report link in the footer should point to the lesson's issue tracker, not email.

Fixing these probably means adding a configuration variable somewhere that is the URL of the GitHub repository...

[2014-12-12 10:50] gvwilson opened #53 "Should we generate HTML pages for the gh-pages branch?"
Should this repo have a website with generated HTML versions of the dummy pages?

[2014-12-12 19:33] jrsmith3 commented on #53
What's the downside?

[2014-12-12 19:35] jrsmith3 commented on #48
I believe this issue was closed last night, so I'm closing it here.

[2014-12-12 19:35] #48 closed, assigned to nobody

[2014-12-13 00:51] jrsmith3 commented on #48
For completeness's sake, this issue was closed at commit e9ad9880f880040d61dff8539e592b253380be4c.

[2014-12-13 01:02] wking commented on #53
On Fri, Dec 12, 2014 at 02:50:19AM -0800, Greg Wilson wrote:

I think yes.  It's always good to dogfood your own framework when
possible.

[2014-12-13 01:41] gvwilson commented on #53
Closed by 142672a

[2014-12-13 01:41] #53 closed, assigned to nobody

[2014-12-13 15:52] wking commented on #53
On Fri, Dec 12, 2014 at 05:41:06PM -0800, Greg Wilson wrote:

I'd have a separate ‘example’ branch that didn't include the
auto-generated content though [1,2].

[2014-12-13 17:36] gvwilson commented on #53
But a separate `example` branch wouldn't model what our authors do: they
have HTML and source in the `gh-pages` branch.

[2014-12-13 18:59] wking commented on #53
On Sat, Dec 13, 2014 at 09:36:25AM -0800, Greg Wilson wrote:

I see two levels to this:
- Should the lack of separation between source and compiled output be
  part of the official workflow?  This is debatable, with
  version-control best practices pushing for separation, and simpler
  Git usage pushing for a single branch.  I'm fine if the consensus
  decision is for a single ‘gh-pages’ branch th

[2014-12-14 11:44] rgaiacs opened #54 "ALL tests of validator fail"
This happens due #48.

[code]

The tests depend on the Markdown examples.

[2014-12-14 11:45] rgaiacs commented on #54
@abought Do you have a suggestion to fix this?

[2014-12-14 13:04] rgaiacs opened #59 "HTML conversion from Markdown"
@gvwilson or @aaren Could you help me discovery why when I build our lessons some lines of the HTML change even if the Markdown files are the same.

[code]

[2014-12-14 13:47] aaren commented on #59
I don't get this, but I have `pandoc 1.13.1`.

The difference you are getting is that your headers are having attributes placed on them.

I think I've got pandoc 1.13.2 around somewhere - where did you install this from?

[2014-12-14 18:54] rgaiacs commented on #59
Thanks for this info.

When I start playing with Pandoc for Software Carpentry I found some bugs that I
reported to Pandoc. When this bugs were fixed I install Pandoc from source to
check if the bugs were fixed and since that I install Pandoc from source.

At the end of the week I will have some time to debug this and send a pull
request for us or report this to Pandoc developers.

[2014-12-14 19:01] aaren commented on #59
I can build pandoc 1.13.2, but without knowing exactly which commit you built it from it might be hard to find the issue.

Thinking more widely, I think we need to stipulate a minimum pandoc version to be used. This would be a bit easier if there were linux builds available as easily as windows.

[2014-12-14 19:31] rgaiacs commented on #59
Before I open this issue I built pandoc with the last changes available at
https://github.com/jgm/pandoc, so the exactly commit is
https://github.com/jgm/pandoc/commit/4ffa70970dc7219aa71c137c728280b7460ed604.

Probably I'm getting this behavior due https://github.com/jgm/pandoc/issues/1711
(the last bug that I report to Pandoc).

Most Linux distributions have Pandoc available
([Debian has 1.9.4.2

[2014-12-14 23:11] abought commented on #54
The failure of tests is because they reference specific example files that no longer live on the `core` branch.

When I checked out branch `gh-pages`, all tests passed without problems. Are the files on gh-pages insufficient for some reason? If so, let me know what the desired use case is, and I'll be happy to implement a fix.

I do think there's value in having the validator check our actual exam

[2014-12-14 23:47] gvwilson commented on #54
For now, we can tell people that the validator only runs in the gh-pages
branch of lesson-template (where the example files are).

[2014-12-15 01:01] abought commented on #54
@gvwilson , this discussion is about the _unit tests_. I can't think of any reason why lessons themselves would fail to validate.

To confirm, I copied the example markdown files (and nothing else) to the `core` branch. The validator itself worked fine.

`tools/check` works fine.
`tools/test_check.py` depends on example files.

[2014-12-15 01:31] gvwilson commented on #54
My apologies - wasn't reading carefully enough.

[2014-12-15 09:15] rgaiacs commented on #54
I'm +1 to embedded the Markdown in the tests. This will allow
-   Run the test at the core branch
-   Run the test at the gh-pages branch
-   Run the test at others repositories

I agree that embedded the Markdown in the tests will make harder to keep it up
to date when the examples files changed but I see it in a positive way since it
will look like test driver development.

[2014-12-15 21:47] twitwi opened #60 "Adding motivation slides using deck.js."
I'd like to rebase/clean/prepare my branch for a pull request. The branch implements deck.js slides for motivation.md, with a software carpentry theme, at the suggestion of @gvwilson.

A few questions arise:
1. as it touches motivation.md, should I rebase it against gh-pages?
2. corollary, what is the "core" branch?
3. any thoughts on whether the default motivation slides should contain a) a minim

[2014-12-15 22:13] twitwi commented on #60
http://twitwi.github.io/lesson-template/motivation is now the rebased version which loads faster.
It still shows the content mentioned above.

[2014-12-15 22:24] abought commented on #54
I have created a pull request to `core` with a proposed fix that I think balances both of our concerns, as follows. What do you think?
- Testing actual example assets is a functional test, not a unit test. We should not embed markdown, because then the functional tests would give a false sense of security. (Functional tests exist to ensure that the validation matches the specification, as laid out

[2014-12-15 22:58] rgaiacs commented on #54
@abought Thanks a lot for the pull request.
I will review it at the end of the week.

- CSS, Javascript, validator files should go first to `core`
- Markdown examples should go only to `gh-pages`.

[2014-12-16 01:32] DamienIrving opened #62 "Lesson versioning"
This discussion started on the discuss email list. I'll include relevant snippets from that discussion below...

[2014-12-16 01:33] DamienIrving commented on #62
@DamienIrving initiated with:

[2014-12-16 01:34] DamienIrving commented on #62
@cboettig followed with:

[2014-12-16 01:35] DamienIrving commented on #62
@wking suggested:

`<lesson name>  <latest release>  <date of that release>`

[2014-12-16 01:36] DamienIrving commented on #62
and finally I responded with:

[2014-12-16 03:11] wking commented on #62
On Mon, Dec 15, 2014 at 05:36:45PM -0800, Damien Irving wrote:

Will those be published publically somewhere?  I'm happy to write up
the script to build this site, but I don't have the permissions to
create swcarpentry/lesson-index.

[2014-12-16 17:53] gvwilson commented on #16
We want a "fork me on GitHub" ribbon on each lesson, and we want the URL to point to that lesson's repository.  The simplest solution is to include text like that above in `_layouts/page.html`, and have lesson authors edit it in place, but then each time authors update from `lesson-template/core` to get new layouts, CSS, etc., they'll have a merge conflict.  The other option is to add a `_config.y

[2014-12-16 18:00] wking commented on #16
On Tue, Dec 16, 2014 at 09:53:06AM -0800, Greg Wilson wrote:

Only if the core branch touches something near that line, but yes, it
would be nicer to have something with an even smaller cross-section.

This sounds good to me.  I'd expect entries in _config.yml to be more
stable (and less likely to change in the upstream core branch) than
the markup that consumes the repository URL.

[2014-12-17 09:45] swaldman3 commented on #16
Another option, and the approach taken by one project I'm involved with: rather than having a config file in the core repo, have an _example_ config file in the core repo, and tell people when they are forking that they need to copy that example to the correct filename and fill in the appropriate details.

This avoids merge conflicts any time the config file changes in core, but does mean that if

[2014-12-17 10:11] gvwilson commented on #16
@swaldman3 Interesting option - I think that has the advantage of
deferring the merge, but not eliminating it: after I `git pull template
core` to get the new content, I have to remember to manually merge any
changes from the demo config file into my copy of the config file.
Thanks,
Greg

[2014-12-17 10:28] gvwilson opened #63 "Checking links"
`make preview` should automatically check internal links in the generated HTML files.

[2014-12-17 16:22] wking commented on #16
On Wed, Dec 17, 2014 at 01:45:02AM -0800, Simon wrote:

I'm not sure what the threshold is, but if you don't make many changes
Git may follow the file through the rename:

  mkdir a &&
  (cd a &&
    git init &&
    cat > example_config.yml <<-EOF &&
    url: http://example.com/
    name: my lesson
    version: 0.1.0
    EOF
    git add example_config.yml &&
    git commit -m 'Initial example_conf

[2014-12-17 16:28] abought commented on #63
The validator does  currently check links to local files in the source markdown.

Would you like to see the same tests done on the HTML output, or something else? Can you provide an example of links that would be present (and broken) in the HTML, but not the markdown?

[2014-12-18 03:33] gvwilson commented on #63
1.  Clone git@github.com:swcarpentry/shell-novice.git
2.  `python tools/check`
3.  The output doesn't report the links in `index.md` to
   `motivation.html` and `discussion.html` as broken.

[2014-12-19 02:15] gvwilson opened #64 "CSS needs a complete overhaul"
The current display of lessons is pretty ugly - the CSS (and the classes embedded in the lessons' HTML) need to be overhauled.

[2014-12-19 02:24] rgaiacs commented on #64
@gvwilson If you have a list of suggestions will be easy to get something.

[2014-12-19 02:36] gvwilson commented on #64
If I knew enough to know how it should look, I'd be writing the CSS :-)
I think what we really need is someone with a decent eye for design.
@jiffyclub, can we steal the look of your ipythonblocks site?

[2014-12-19 02:51] rgaiacs commented on #63
This is related with #58.

[2014-12-19 03:32] rgaiacs commented on #63
After apply #58 to git@github.com:swcarpentry/shell-novice.git

[code]

I will merge it tomorrow.

[2014-12-19 05:47] abought commented on #54
Have you had a chance to review this pull request yet? I know this is a blocker for other pull requests right now.

[2014-12-19 10:30] rgaiacs commented on #54
Sorry for the delay.

The fact that functional test doesn't pass on `core` branch is still bugging me. Unfortunately I didn't find a good solution. To avoid ["development hell"](https://en.wikipedia.org/wiki/Development_hell) I merged @abought pull request and will close this issue for now. If you have any suggestion, please open a issue or send a pull request.

[2014-12-19 10:30] #54 closed, assigned to nobody

[2014-12-19 10:36] gvwilson opened #67 "Change license to CC BY 4.0"
Upgrade license to CC BY 4.0 (currently CC BY 3.0) in the `core` branch; @gvwilson will then push the change to lesson repositories.

[2014-12-19 11:03] gvwilson opened #68 "Add target to Makefile to run tests of validator using both Python 2.7 and Python 3"
The unit tests for the validator should have a target in the Makefile, and it should run the tests using both Pythons.

[2014-12-19 11:33] rgaiacs opened #69 "Add git pre-commit hook"
I would like to add a git pre-commit hook to this repository to
1. run `tools/check` before each commit to make sure that pull request follow our template and
2. verify that the `*.html` version of the changes on `*.md` was add.

The hook will not change the workflow of our contributors and it is **opt-in** (contributors will need to copy `hooks/pre-commit` to `.git/hooks/pre-commit`.

Comments?

[2014-12-19 11:43] rgaiacs commented on #67
`lesson-template` already use CC BY 4.0.

[code]

https://github.com/swcarpentry/shell-novice/ also [use CC BY 4.0](https://github.com/swcarpentry/shell-novice/blob/gh-pages/LICENSE.md).

@gvwilson I believe that you already push the CC BY 4.0 for the new lesson repositories but you need to check it.

[2014-12-19 12:55] gvwilson commented on #8
No longer using mailto, but instead asking people to file an issue.

[2014-12-19 12:55] #8 closed, assigned to nobody

[2014-12-19 13:23] gvwilson opened #72 "Obtain DOIs for lessons"
Related to #62, we should have a mechanism to get a DOI for a particular version of an actual lesson.

[2014-12-19 15:15] dlebauer commented on #72
Zenodo is easy to set up to trigger a doi assignment with each release.

On Friday, December 19, 2014, Greg Wilson notifications@github.com wrote:

[2014-12-19 16:20] abought commented on #63
Both of these error messages look appropriate to me with this new version. Thanks for running this, @r-gaia-cs .

[2014-12-19 17:44] gvwilson commented on #63
+1 to merge.

[2014-12-19 18:10] jiffyclub commented on #64
Sure, copy whatever you like. There's not a lot to ipythonblocks.org, so you'll likely need to make some stuff up too. The code for ipythonblocks.org is at https://github.com/jiffyclub/ipythonblocks.org/tree/master/app. CSS files are under `static/`, templates are under `templates/`.

[2014-12-19 19:02] jiffyclub opened #73 "Add CONTRIBUTING.md File"
A [CONTRIBUTING.md](https://github.com/blog/1184-contributing-guidelines) file is a good place to put style and conduct recommendations for contributors. The [bc repo has one](https://github.com/swcarpentry/bc/blob/gh-pages/CONTRIBUTING.md) that might be useful as a template.

[2014-12-19 22:50] wking opened #76 "Release procedure for this repository"
We've been having this conversation in a [number](https://github.com/swcarpentry/lesson-template/issues/48#issuecomment-66703654) of [places](https://github.com/swcarpentry/workshop-template/issues/8#issuecomment-67672413), so I'm consolidating it here.  When we make major changes to this repository (or sufficient smaller changes pile up), how will downstream repositories know about it?  Possible

[2014-12-19 22:58] wking commented on #76
This is similar to #62, but that's about versioning the lessons themselves (which depend on this repository), while this issue is about versioning this repository.

[2014-12-19 23:15] abought opened #77 "Build process gives wrong results if reference.md subtitle changes"
Side comment extracted from #74 for tracking.

When the YAML header "subtitle" in `reference.md` is changed, the page builds differently. (glossary entries are not wrapped in span tags correctly).

This is because the build process hard-codes an assumption that the subtitle will be "Reference". (tools/filters/id4glossary.py, line 27)

This has implications for lesson creators: their page will not

[2014-12-19 23:48] gvwilson commented on #77
The other option is to create some other page layouts with hard-coded
subtitles, then pick up the title from _config.yml --- I'm increasingly
resigned to having to have a config file, because we want links to the
lesson's repo in the page footers.  See
https://github.com/swcarpentry/workshop-template which now has a
_config.yml.

[2014-12-20 10:39] gvwilson opened #78 "Add a link in README.md to this repository"
Every actual lesson's README.md should have a link back to this repository's README.md to help people find the instructions on formatting tools, checking and building, etc.  That link should go into the starter README.md, and the validator tool should check for it.

[2014-12-20 10:40] gvwilson opened #79 "Clarify the rules for challenge titles"
Every challenge should have a short meaningful title and the class `challenge`:

[code]

Make this clearer in the documentation, and provide examples.

[2014-12-20 15:06] peterjc commented on #78
I was about to file this issue, having realised that the individual lessons do not explain `make preview` or the dependencies.

[2014-12-20 18:14] peterjc commented on #78
PR #80 covers this, but the existing lessions still need to be updated, so I suggest we keep this issue open till that is done.

[2014-12-20 18:37] peterjc commented on #78
See also:
https://github.com/swcarpentry/sql-novice-survey/commit/daec2b47c63abf599283f990edc3c3a68338d270
https://github.com/swcarpentry/shell-novice/commit/375ba558183b2bfa68d095eb3b0e2d23af705efa
https://github.com/swcarpentry/r-novice-inflammation/commit/f7e645af1a181930fb5af42dc558b02ecfb16bdf
https://github.com/swcarpentry/python-novice-turtles/commit/fcddd266d3b7b3769263ac7718990c3ad363c9a0

[2014-12-21 00:07] #78 closed, assigned to nobody

[2014-12-21 02:54] rgaiacs commented on #63
I'm closing this since it was solve.

[2014-12-21 02:55] #63 closed, assigned to rgaiacs

[2014-12-21 03:08] shwina opened #83 "Pandoc "not found in path" error"
Not sure if this has been documented, but when I first ran `make preview`, I got an error about the filter `tools/filters/blockquote2div.py` "not found in path".

As it turns out, that's a useless error message. It's thrown if the filter can't execute for _any_ reason. This bug has been documented here, under the section 'Behaviour changes':

http://johnmacfarlane.net/pandoc/releases.html

The rea

[2014-12-21 03:11] aaren commented on #59
Pandoc 1.13.2 has just been [released](https://github.com/jgm/pandoc/releases/tag/1.13.2). With this version of Pandoc I can reproduce what you're getting. Not sure why just yet - will look into it.

Note that the new release includes a .deb for 64bit Debian / Ubuntu, meaning it is easy to install an up to date pandoc on Windows, Mac and the majority of GNU/Linux systems now (no Haskell platform n

[2014-12-21 03:39] rgaiacs commented on #83
@ashwinsrnth Thanks very much for your report. I'm closing this since the need to install `pandocfilters` is already mentioned on `README.md`, check the "Dependencies" section, due cf51ae0.

We all are working hard to get the new lesson stable as soon as possible to avoid this type of problem.

Please, report as many issues as problems that you have. We will try to solve it as quickly as possible.

[2014-12-21 04:12] shwina opened #87 "HTML files adding noise to version control?"
Should `.html` files be part of the lesson repo? It seems to me that they simply make version control noisy. Can someone point out the advantages? Thanks!

[2014-12-21 04:13] shwina commented on #83
Thanks!

[2014-12-21 10:25] gvwilson commented on #83
Please add this one to the FAQ - other people will run into it, and help
diagnosing problems is always welcome.

[2014-12-21 10:27] gvwilson commented on #87
See point 6 in lesson-template's DESIGN.md (rendered version at
http://swcarpentry.github.io/lesson-template/DESIGN.html).

[2014-12-21 12:37] rgaiacs opened #89 "Validator should error user for missing class"
When use

[code]

instead of

[code]

the validator should show a error.

[2014-12-21 12:39] #87 closed, assigned to nobody

[2014-12-21 12:43] rgaiacs opened #90 "Validator should check the text of ALL links in index.md"
**Supersede #58 based on https://github.com/swcarpentry/lesson-template/pull/58#discussion_r22142783.**

[code]

[2014-12-21 12:46] gvwilson commented on #89
But how will it know?  Simplest rule would be that all blockquotes with
titles must have classes on the titles (right now 'challenge' or 'callout').

[2014-12-21 13:24] rgaiacs commented on #76
I'm +1 to (c) with optin for (b).

[2014-12-21 13:25] rgaiacs commented on #68
I'm closing this since it was addressed in #70.

[2014-12-21 13:25] #68 closed, assigned to nobody

[2014-12-21 15:00] gvwilson commented on #76
I'll organize a conference call in the week of Jan 12-16 so that
interested parties can discuss versioning, release management, and DOIs.

[2014-12-21 16:00] wking commented on #87
On Sun, Dec 21, 2014 at 02:27:11AM -0800, Greg Wilson wrote:

Point 6 doesn't address committing the HTML to the development branch.
It's argument is:
- “HTML pages … must be committed to version control in order for the
  lesson to be displayed properly on GitHub.” (which is true)
- “We [put generated files in the same directory as source files]
  because some authors may use auxiliary source fil

[2014-12-21 19:03] gvwilson commented on #87
You've brought this up many times, Trevor - please let it go.

[2014-12-21 20:01] aaren commented on #59
@r-gaia-cs I just fixed this in #93 but now notice that you've fixed in #85 as well.

[2014-12-21 20:25] #59 closed, assigned to nobody

[2014-12-21 21:12] twitwi commented on #60
Note: just rebased the branch + add the title page by default, use the "omit-title" header not to add it.

[2014-12-21 21:14] gvwilson commented on #60
Where does omit-title go?

[2014-12-21 21:15] twitwi commented on #60
This needs to go in the yaml header. This (title slide addition) only applies to the slides written in .md and converted with pandoc.

[2014-12-21 21:22] gvwilson commented on #60
Ah - OK, I'm writing HTML directly.

[2014-12-21 22:06] aaren commented on #52
I think we can avoid configuration here: assuming that users follow the setup instructions, they will have their github repo labeled as 'origin' (see point 4 of manual setup in readme). We can then capture the url for 'origin' in the makefile and inject this as a variable in the footer.

Shall I implement this?

[2014-12-21 22:15] gvwilson commented on #52
Happy to look at an implementation...

[2014-12-21 22:37] #83 closed, assigned to nobody

[2014-12-22 00:38] #51 closed, assigned to gvwilson

[2014-12-23 00:06] wking commented on #87
On Sun, Dec 21, 2014 at 11:03:52AM -0800, Greg Wilson wrote:

I won't bring it up on my own, but I'll mention my support and
reasoning when other folks bring it up.  Maybe like swcarpentry/bc#102
it will be something that takes a year to gain traction, but I think
that it _is_ the right choice, and the current “just gh-pages”
approach makes it impossible for folks who don't like auto-generated
con

[2014-12-23 04:22] shwina commented on #87
I'll add that I'm with @wking on this. If there has already been discussion about this, I'd be interested to read it

[2014-12-29 12:16] rgaiacs commented on #46
@PBarmby Thanks very much for the work with the glossary in all the lessons (https://github.com/swcarpentry/python-novice-inflammation/pull/3, https://github.com/swcarpentry/shell-novice/pull/37, https://github.com/swcarpentry/hg-novice/pull/1, https://github.com/swcarpentry/sql-novice-survey/pull/10, https://github.com/swcarpentry/git-novice/pull/6). I will do my best to have a pull request for t

[2014-12-30 00:46] rgaiacs opened #104 "Improve validator for links to challenges, call outs, glossary entries, ..."
The pull request #103 will break the validator:

[code]

[2014-12-30 03:07] abought commented on #104
So sorry for the delayed responses during the holiday season. I'd be happy to take a look at this in the next day or two; tag me if there are other issues also needing attention.

[2014-12-30 12:57] rgaiacs commented on #104
No problem at all. Enjoy the snow for me. =)

I'm trying to avoid send a big pull request that will be hard to review.

@abought If you could review #105 and help with it will be of great help.

[2014-12-30 13:01] gvwilson commented on #104
On 2014-12-30 4:57 AM, Raniere Silva wrote:

[2015-01-01 23:10] optixlab opened #107 "Error running filter tools/filters/blockquote2div.py"
After making a couple of small changes to the `01-one.md` file, I ran `make preview`.
Prior to that, I did install pandoc as well as run `sudo pip install -r requirements.txt` (also did a pip freeze to verify that `pandocfilters` is installed).

There is another closed issue regarding this error but it seems to have been resolved with the installation of pandoc filter. Not so in my case. Any help?

[2015-01-02 15:51] rgaiacs commented on #107
@optixlab Could you provide more information? If you could provide the changes on `01-one.md` will be very helpful (output of `git diff` is OK but if you provide the changes in a branch I or @abought could send a pull request to you as soon as we find the bug).

[2015-01-02 22:58] abought commented on #107
Agreed, seeing the markdown would really help. (I wasn't able to find a lesson repo on your account, but that would be the best, most detailed way to debug)

As far as I can tell, Pandoc doesn't have a verbose output mode in the current production version. Short of a better idea on where to add debugging information, I'll see about adding some checks to the validator. (`python tools/check 01-one.m

[2015-01-03 05:28] abought commented on #104
It sounds like this bug is returning back to the idea of #58 , and specifically loosening the requirement that link text much match the title of the page. I'm back from my travels and will work on this tomorrow (Saturday).

[2015-01-04 12:47] rgaiacs commented on #15
I'm closing this issue as out of date due #48.

[2015-01-04 12:47] #15 closed, assigned to nobody

[2015-01-04 13:01] rgaiacs commented on #77
I'm closing this one since #81 was merged.

[2015-01-04 13:08] rgaiacs commented on #89
+1

I also would like to use

[code]

instead of

[code]

to avoid problems for translation to other languages of the lessons in the future.

[2015-01-04 16:50] abought commented on #89
That's a big selling point. It looks like the build process currently accepts a CSS class OR the english-language title (see `blockquote2div.py` -`SPECIAL_TITLES` and `SPECIAL_CLASSES`). But it's a bit strange for foreign language lessons to require different markup than english lessons.

[2015-01-04 21:05] gvwilson commented on #89
I've been trying to avoid redundancy (e.g., if the title has to be 'Learning Objectives', and it has to be at the start of the topic, people shouldn't have to add `{.objectives}`).  We need the class for challenges and callouts because their titles and positions aren't known in advance; we also want to _insist_ that certain things (like learning objectives) have exactly that title in English.  So

[2015-01-04 21:25] abought opened #112 "Validator and build process should handle foreign language lessons"
Splitting from #89 to track.

The current validator and build process only work on english-language content; CSS styles won't be added if callout box headings are in any other language. This leads to a situation where translated lessons don't build correctly unless additional markdown is added- potentially confusing.

A language flag on the validator was raised as one possible way of dealing with

[2015-01-05 03:38] rgaiacs commented on #89
I understand that but I still think that make the class attribute explicitly is
better than avoid redundancy in this case.

I want to avoid add `language` as one of YAML header fields.

We also need to remember that this isn't only about the validator but also about
our Pandoc filter since the `blockquote` will be converted into a `div` element.
Using

[code]

implies that when translate to Portug

[2015-01-05 04:35] abought commented on #104
This issue has 3 prongs, so...

Pull request has been sent for link text changes (#113).

#105 could break some desired behavior for the validator. As alternative, I propose validating callout boxes separately; I can take that one. Here's the planned spec:
- Callout box should be a blockquoted element
- First child of callout box should have a be a header with known title text OR CSS style (pendin

[2015-01-05 20:48] abought opened #114 "Validator QA tracking"
This issue exists to validate the validator. It will list QA steps and track bugs revealed by running the validator on all existing lesson repositories. Separate pull requests will be issued for each fix.

Bugs and questions are marked as checklist items.

These are the repos that will be checked using the latest version of the validator (presently #113, under review).
### Novice inflammation
- ht

[2015-01-05 21:34] abought commented on #114
### Matlab novice inflammation

Markdown still being brought up to spec with current lesson template. Various YAML, link, and content restructuring recommended. (swcarpentry/matlab-novice-inflammation/issues/4)

Most errors seem reasonable and expected, as documented in previous external issue.
- [x] Bug: Anchor names were appearing in "file not found" errors- I've folded a fix for this into #113.

[2015-01-05 21:54] abought commented on #114
### Git novice

Fairly close to spec- YAML headers need updating, and some minor heading changes depending on question about subheadings raised above.
- [x] Bug: Error message should wrap row name in single quotes.
  `ERROR:root:In ./02-collab.md: Header section is missing expected row subtitle`
- [x] Bug: some heading-related error messages are redundant in TopicPageValidator. Headings may need r

[2015-01-06 04:46] jdblischak opened #116 "How should non-Python input cells be labeled?"
In the [documentation](https://github.com/swcarpentry/lesson-template/blob/gh-pages/LAYOUT.md#topics) for creating lessons, it has the input code with the label `{.python}` and the output code with the label `{output}`. There is no advice on how to label input cells containing other languages (e.g. R, MATLAB).

I checked what the [novice-shell](https://github.com/swcarpentry/shell-novice) repo did

[2015-01-06 04:49] gvwilson commented on #116
I believe that `{.r}` should work - if it doesn't, I'll fix it.

[2015-01-07 01:30] #77 closed, assigned to nobody

[2015-01-07 02:17] rgaiacs commented on #116
@jdblischak Pandoc supports the following keys to mark the source code language:
- `abc`
- `actionscript`
- `ada`
- `agda`
- `apache`
- `asn1`
- `asp`
- `awk`
- `bash`
- `bibtex`
- `boo`
- `c`
- `changelog`
- `clojure`
- `cmake`
- `coffee`
- `coldfusion`
- `commonlisp`
- `cpp`
- `cs`
- `css`
- `curry`
- `d`
- `diff`
- `djangotemplate`
- `dockerfile`
- `dot`
- `doxygen`
- `doxygenlua`
- `dtd`
- `ei

[2015-01-07 04:48] abought commented on #90
Resolved by #113.

[2015-01-07 04:48] #90 closed, assigned to abought

[2015-01-07 14:41] gvwilson commented on #89
OK, you've persuaded me - can you please add the attribute to Learning
Objectives in the template, then do a sweep through all the repos and
add it there as well?  And document the reason in lesson-template?
Thanks,
Greg

[2015-01-07 22:54] rgaiacs commented on #89
Sure.

[2015-01-08 20:35] jdblischak commented on #116
Ok, thanks. `{.r}` does work. I will implement that into the workflow for building topic pages from R Markdown source files.

@r-gaia-cs, that list is very helpful. Do you have a link to it? Could you add a note in the documention that would direct people writing non-Python lessons to this information?

[2015-01-08 22:06] rgaiacs commented on #116
The best way to get it is `pandoc --version` as you can find in
http://pandoc.org/README.html#fenced-code-blocks.

Sure.

[2015-01-12 20:39] abought commented on #107
@optixlab , do you still need help on this ticket?

[2015-01-13 13:59] #116 closed, assigned to nobody

[2015-01-13 14:06] gvwilson opened #118 "Recommendation: make lesson-core a separate repository"
Several people have said they find it confusing and error-prone to merge PRs into the `core` branch, then merge again into `gh-pages`. While this workflow seems OK for Git experts, it would be simpler for the majority to have a separate repository `lesson-core` as the upstream of `lesson-template`.

[2015-01-13 16:13] abought commented on #118
As part of this move, I would suggest moving README.md, LAYOUT.md, and DESIGN.md to the `core` repository, rather than in `gh-pages`. These files are documentation, not lesson content.

This was part of the confusion for me: pull requests that change template behavior (build, validation etc) are split across two branches. One commit for code, another for documentation.

[2015-01-13 16:38] ACharbonneau commented on #118
I think any sort of branching is inherently confusing when you first start in Git. I'm a bit past novice, but I still would have to sit and think about how to interact with this setup. Two repositories sounds much easier to think about.

[2015-01-13 17:12] wking commented on #118
On Tue, Jan 13, 2015 at 08:38:24AM -0800, ACharbonneau wrote:

Out of curiosity, can you explain how your thought process is
different for two single-branch repositories vs. one two-branch
repository?

[2015-01-13 17:51] willingc commented on #118
@gvwilson @wking Just my two cents...I understand git and I'm having a hard time following the overall logic flow of what the difference between core and gh-pages even if split into 2 repos. Since I jump in and out of this project, I'm not in tune with the details of what is trying to be accomplished by core vs gh-pages. So I rely on all the text documentation which is confusing not so much as ind

[2015-01-14 18:44] strootman opened #120 "Programmatically extract individual challenges into separate md files"
During a recent workshop, I manually broke out the challenges from several lessons into individual md files.
This was very convenient to display only one challenge at a time. Also, I could display them from my own computer if the network went down

[2015-01-15 02:54] jdblischak commented on #120
I have also extracted exercises manually in the past and wished it could be automated. Not only is this nice for displaying for the students, but I also like to compile all the challenges (and ideally their solutions as well) to give the helpers to prepare for the workshop.

[2015-01-15 03:30] jdblischak commented on #118
I'd prefer not to have an additional repository to keep track of.

[2015-01-15 04:45] wking commented on #118
On Wed, Jan 14, 2015 at 07:30:59PM -0800, John Blischak wrote:

I'm in favor of a single repository myself, but just to play Devil's
advocate:

You won't need to actually track the branch that's now
lesson-template's gh-pages if it ends up in a separate repository.
It's just the seed for new lessons.  Once you have a lesson, you only
need to track lesson-template's core branch.

[2015-01-15 09:27] vahtras commented on #118
As a git intermediate (using basic git frequently) I can only agree with @willingc in that workflows can be very confusing and a graphical aid would help for any choice. What about having lesson-core as a git submodule of lesson-template?

[2015-01-15 11:49] gvwilson commented on #118
Hi Olav,
Our experiences of git submodules were uniformly bad - there are too
many ways for them to behave incomprehensibly in the hands of newcomers
(including me).  Remember, the goal here isn't to find the "right"
workflow for Git experts, but to find something that newcomers can drive
reliably.
Thanks,
Greg

[2015-01-15 12:55] aaren opened #121 "Use mathjax"
There is currently no way to use maths in the markdown lessons, beyond using raw html escapes (see https://github.com/swcarpentry/python-novice-inflammation/pull/1).

I suggest that we include a local copy of [mathjax](http://www.mathjax.org/) in the lesson template so that users can write maths using latex enclosed in `$...$`, just as you can in the IPython notebook.

Any thoughts on this?

[2015-01-15 13:38] gvwilson commented on #121
1.  Good idea.
2.  Does Pandoc support this?
3.  Will math embedded in other files (IPython Notebooks, R Markdown)
   survive the translation from native to plain old Markdown to HTML?

[2015-01-15 14:19] aaren commented on #121
Pandoc doesn't really care - we can link to mathjax.js in the header.

The math is treated as a string and is transferred as-is between notebooks, markdown and html.

[2015-01-15 14:28] aaren commented on #107
@abought the way to debug filters is to do the piping explicitly, e.g.

[code]

then you get to see the full python stacktrace.

[2015-01-15 14:34] aaren commented on #118
The biggest problem that I have with `core` is that it isn't documented anywhere that this is the branch to work on.

I'm undecided on which is better - two branches or two repos - for the core/gh-pages split.

[2015-01-15 14:34] fmichonneau commented on #120
For data carpentry I used what I called a "skeleton" file that includes the
exercises and useful pieces of code. The file is generated automatically by
the make file using knitr::purl(). It's not perfect because the text for
the exercise is duplicated (once in the lesson and once as comments in the
R chunk) but the participants liked it.

On Wed, Jan 14, 2015 at 9:54 PM, John Blischak notification

[2015-01-15 14:36] aaren commented on #118
I agree with @abought about moving readme, layout and design documentation.

[2015-01-15 14:45] ramnathv commented on #121
Mathjax has a heavy footprint. I would recommend going with a stripped down version of mathjax that gets the job done. Here is a [pruning script](https://github.com/rstudio/rstudio/blob/master/dependencies/tools/prune-mathjax) used by rstudio that slims down the version of mathjax being shipped to around 4.3 MB as compared to the full version which is around 30 MB.

[2015-01-15 15:23] ahmadia commented on #121
If the lessons are being viewed from an Internet connection, there's no need to keep an offline copy of MathJax.  This is how the IPython Notebook works, by default.  I'd recommend doing the same.  Pandoc and MathJaX don't have great interactions when it comes to Markdown and embedded mathematics, so would also recommend exercising caution there.

[2015-01-15 15:43] aaren commented on #121
I am in favour of using the cdn if possible, but it depends how much we value being able to render maths when offline.

A first step could be to implement this using the cdn and then think about supplying our own mathjax if that becomes a problem. IPython defaults to the cdn and allows local install on request ([see doc](http://ipython.org/ipython-doc/dev/install/install.html#mathjax))

Note the [

[2015-01-16 14:25] rgaiacs commented on #118
@willingc This is the way that I see the branches and pull requests.

![swc](https://cloud.githubusercontent.com/assets/1506457/5777536/996e1aee-9d7a-11e4-9924-2f33dc22930d.jpeg)

Hope this helps.

[2015-01-16 15:02] jdblischak commented on #118
But if the README is in core, consider the scenario where it gets updated. Then when I go to pull the latest changes in core into my lesson repository, won't this cause a merge conflict?

[2015-01-16 15:16] aaren commented on #118
@jdblischak you're right (assuming you mean you've got your own separate readme) - I hadn't thought of this. You'd also get a copy of layout.md and design.md.

I'm not so sure about where the documentation should live anymore.

[2015-01-16 15:31] jdblischak commented on #118
OK, then I am definintely opposed to including the README in core because it has to be updated in a lesson repo. From the beginning of [LAYOUT](https://raw.githubusercontent.com/swcarpentry/lesson-template/gh-pages/LAYOUT.md):
1.  `README.md`: initially a copy of this file.  It should be
   overwritten with short description of the lesson, but should
   include the following blockquote to help peo

[2015-01-16 15:38] rgaiacs commented on #121
[code]

I would vote for MathML.

[code]

Because (1) is the W3C recommendation and (2) we improve user experience avoiding user to download a big Javascript library that they will not use. Firefox have great support for MathML and as far as I know Safari also support it. Chrome doesn't support it but at least it is smart enough to only show the LaTeX code to the user.

I will not complain to use

[2015-01-16 15:45] ahmadia commented on #121
@r-gaia-cs - MathML is almost completely unused in the scientific community, whereas LaTeX is still the underlying language used by most mathematicians and computational scientists.  I don't think we should be listening to the W3C here.

[2015-01-16 15:57] gvwilson commented on #121
I'm with Aron on this one - the only time I've encountered MathML in the
wild was marking up a book for a publisher eight years ago.

[2015-01-16 16:55] wking commented on #121
On Fri, Jan 16, 2015 at 07:45:14AM -0800, Aron Ahmadia wrote:

For my blog I have a pre-processing step that uses itex2MML to convert
a subset of LaTeX to MathML.  Then I can use LaTeX in my source, and
get MathML in my compiled HTML.

[2015-01-16 16:55] wking commented on #121
On Fri, Jan 16, 2015 at 08:55:22AM -0800, W. Trevor King wrote:

Link: https://golem.ph.utexas.edu/~distler/blog/itex2MML.html

[2015-01-16 18:07] rgaiacs commented on #121
@ahmadia and @gvwilson sorry if I wasn't clear. I'm +1 to use LaTeX for math. What I'm suggesting is that we only replace

[code]

with

[code]

in `Makefile` instead change `_layouts/page.html` to load MathJax.

**Will be crazy to ask anyone to write MathML by hand.** =)

[2015-01-16 18:10] ahmadia commented on #121
Ahh, I think I am still -1.  I have yet to see MathML consistently render math aesthetically across modern browsers.  It was a good idea, but I don't think it ever received solid support from the browser community.

[2015-01-16 19:23] rgaiacs commented on #120
Thanks all for the feedbacks.

@strootman I like to wrote the challenges at the etherpad because (1) I can add extra challenges and (2) students can write their solutions if they want so. Unfortunately this isn't bullet proof across network problems.

@jdblischak I believe that we can accomplish this using CSS. I'm working to get the all-in-one version of the lesson and will add your request to al

[2015-01-16 20:39] willingc commented on #118
@r-gaia-cs Thank you for taking the time to make a visual. I will take a look at the flow and process. I really appreciate the effort. I will get back with you once I get a chance to review :sunny:

[2015-01-16 21:57] wking commented on #118
On Fri, Jan 16, 2015 at 06:25:15AM -0800, Raniere Silva wrote:

Is there source for this somewhere?  It needs an 'initial import'
arrow from gh-pages@lesson-template to gh-pages@shell-novice.

[2015-01-16 22:44] wking commented on #118
On Fri, Jan 16, 2015 at 07:02:07AM -0800, John Blischak wrote:

To avoid this issue, I'd recommend keeping docs about the templates in
a subdirectory like doc/template/.  I'm testing this approach in #124.

[2015-01-16 22:56] rgaiacs commented on #89
I'm closing this due #122 and #123.

[2015-01-16 22:56] #89 closed, assigned to rgaiacs

[2015-01-16 23:46] rgaiacs commented on #67
I'm closing this since all lessons from Version 5.3 are using CC BY 4.0.

[2015-01-16 23:46] #67 closed, assigned to wking

[2015-01-17 14:12] willingc commented on #118
I've had a chance to sit down and really dig into the workflow. At this point, I believe that the root issue is not one or two repos but better documentation of the git workflow when creating a remixed lesson.

I have had a chance to do a hand drawn visual of the process from the end user (writer of a remixed lesson) perspective. I did not include my messy drawing, but will redraw by hand if folks

[2015-01-17 15:55] gvwilson commented on #118
Thanks very much for this, Carol.  Do you think a walkthrough screencast
showing people the steps would help as well?  I've been promising one to
@abostroem for months...

[2015-01-17 17:04] wking commented on #118
On Sat, Jan 17, 2015 at 06:12:18AM -0800, Carol Willing wrote:

core is actually the lesson infrastructure (_layouts, _includes, css,
tools, Makefile, LICENSE.md, …), not the lesson content.  gh-pages has
example lesson-content that the lesson maintainer is supposed to
replace with real content for their particular lesson.

Lesson maintainers should only have a single gh-pages branch (both in
thei

[2015-01-17 18:21] willingc commented on #118
@wking Please let me clarify...I used the instructions "as written" to come up with the comments that I made earlier.

@gvwilson, @r-gaia-cs, @wking, @abostroem and others:
Instead of addressing @wking's thoughtful comments inline, I want to stress that the instructions as written are confusing to someone that understands git and I expect would be to someone less experienced in git or the structur

[2015-01-17 18:35] wking commented on #118
On Sat, Jan 17, 2015 at 10:21:11AM -0800, Carol Willing wrote:

I agree.  I was just trying to sketch out what I think the improved
instructions should (and should not) look like.  If it's easier to
review pull requests with improvements than it is to plan the
improvements abstractly, I'm happy to do that too.

This is a good point.  The “Manual Setup” section is for folks
creating new downstream

[2015-01-17 18:51] willingc commented on #118
@wking :bouquet: Cool with me.

I will defer to you and the group but my personal feeling that planning by Pull Request has the slippery slope of losing the big picture.

I agree that Raniere's graphic is a good starting point :) I will also post here an updated hand drawn graphic of my understanding basic on your additional comments. Heading out to teach today but will get to it over the long wee

[2015-01-17 18:57] wking commented on #118
On Sat, Jan 17, 2015 at 10:51:11AM -0800, Carol Willing wrote:

I expect that will be “we want this to be accessible to everyone,
including folks who haven't heard of Git”.  I'm just suggesting we
approach that by pointing newcomers to our novice Git material [1](http://swcarpentry.github.io/git-novice/) and
pointing novice Git users at our intermediate Git material
(swcarpentry/bc#929) instead of

[2015-01-17 19:12] willingc commented on #118
@wking I agree that the instructions shouldn't teach git. What I would like "Manual Setup"  is expected action (commands) and expected result for a step so that users have a context of where they are in the setup process. Empower them to self troubleshoot their setup issues :)

[2015-01-17 19:28] gvwilson commented on #118
I agree, and I"m grateful for your help in trying to find ways to
explain this better.  I'm going to try to find time on Tuesday or
Wednesday to rewrite the instructions using GitHub import instead of a
manual import - may I ask you to proof-read?  (I'll include a diagram.)

[2015-01-17 19:39] willingc commented on #118
Sure. Empower the users :)

Such great content in all of these lessons :)

[2015-01-18 12:40] rgaiacs opened #126 "Can we remove "Other Material" section from LICENSE?"
The "Other Material" section contains

This make sense to our website but I believe that we can remove it from the lesson template and avoid the broken link.

[2015-01-18 21:34] rgaiacs commented on #114
A lesson must has a least:
- one file that match `[0-9][0-9]-[a-z]*\.md`
- `discussion.md`
- `index.md`
- `instructors.md`
- `LICENSE.md`
- `motivation.md`
- `README.md`
- `reference.md`

In the case of new lessons is OK that `discussion.md`, `instructors.md` and `reference.md` only have the YAML header.

[2015-01-18 21:56] wking commented on #126
On Sun, Jan 18, 2015 at 04:40:40AM -0800, Raniere Silva wrote:

+1.

[2015-01-18 22:02] gvwilson opened #130 "Checking tools should make sure the right Git remotes are set up"
The checking tool should check the Git remotes and make sure there's one pointing at `lesson-template` (or `lesson-core` if we decide to go that route).

[2015-01-18 22:19] wking commented on #130
On Sun, Jan 18, 2015 at 02:02:11PM -0800, Greg Wilson wrote:

Are you enforcing a particular name for that remote?

It's also possible to just:

  $ git pull git://github.com/swcarpentry/lesson-template core

and not have a named remote or tracking branches at all.  Is that an
unacceptable workflow?

This will also be hard to handle when we're running the check script
remotely, unless you mean a d

[2015-01-18 22:51] gvwilson commented on #130
I'd like to enforce a particular name, even if it's not necessary - that
way the documentation can refer to that name in examples.

[2015-01-20 00:12] twitwi commented on #60
Note: http://twitwi.github.io/lesson-template/motivation has been updated to use the "revealjs" generator (just a pandoc slide deck generator).

Related pull requests: https://github.com/swcarpentry/lesson-template/pull/128 https://github.com/swcarpentry/lesson-template/pull/129 by @r-gaia-cs

[2015-01-21 04:09] jdblischak opened #132 "README and other files unnecessarily rendered to html"
The changes in PR #94 to address Issue #51 have been lost. Currently these files get rendered to html and are not in the .gitignore file.

[2015-01-21 18:56] rgaiacs opened #134 "Validator doesn't handle link to glossary item"
Running for https://github.com/swcarpentry/git-novice/issues:

[code]

[2015-01-21 19:18] abought commented on #134
How do we want to handle links to glossary items?

Should it:
- Determine that the glossary page exists, or,
- Additionally check that that specific glossary term in the link text is present on the page? (eg validate the anchor within the page)

What formats will be recognized?
- Will the glossary terms always be links? (eg a previous proposal just looked for any keyword in bold)
- Should the link

[2015-01-21 19:22] wking commented on #134
On Wed, Jan 21, 2015 at 11:18:45AM -0800, Andy Boughton wrote:

Can't we just:
- Validate the glossary to make sure all terms define link anchors.
- Validate the pages for generic links (e.g. does the linked page
  exist, and does the linked anchor exist on that page)?

I don't understand why we need special handling for glossary links
that we don't also want for other links.

[2015-01-21 19:35] abought commented on #134
Agreed in principle; I need to delve into the currently used CommonMark parser to see if it provides a way to identify named anchor links on a page. There might need to be some workarounds.

Long term we've discussed moving to pandoc's AST as a way to improve glossary handling etc. Trying to land one more feature to a stable branch before I look at rewriting the internals.

[2015-01-21 19:43] wking commented on #134
On Wed, Jan 21, 2015 at 11:35:35AM -0800, Andy Boughton wrote:

Ah, if we're looking for a stopgap before doing this right, then I'm
fine with whatever you want ;).

In my experience putting off the rewrite is often more work than just
re-architecting when you start to notice a code smell.  Do we really
need a stopgap glossary checker to land before the internal
restructuring?  I'm not familiar en

[2015-01-21 20:11] abought commented on #134
In this case I was referring to unrelated features, so that people had a validator that was functional for the other rules that need to be checked. Much of the AST-specific stuff is abstracted away into a separate class.

It's not a perfect system, but my goal here is more about triage than avoiding rewrite pain. I've blocked off some time tomorrow for callouts, and @r-gaia-cs has done some spadew

[2015-01-22 00:47] rgaiacs commented on #134
We need to check that that specific glossary term in the link text is present on the glossary.

Yes, glossary terms will always be links. After some discussion with @gvwilson we agree that links will be better.

The link text doesn't need to match to the glossary item. We will allow `[GUI](reference.md#graphical-user-interface)` for example.

We already validate the glossary. (**Note**: we use a f

[2015-01-22 11:18] rgaiacs commented on #132
I'm closing this since #133 was merged.

[2015-01-22 17:41] zmughal opened #138 "Figure numbering for figure captions"
Since Pandoc can generate figure captions for images, it would be nice to be able to use figure numbering to refer to figures from the text (Figure 1, Figure 2, etc.). Currently, the figure captions can be escaped by using the `<backslash><white-space>` syntax.

This is currently not possible directly in Pandoc, but there are some [solutions discussed](https://github.com/swcarpentry/python-novice-

[2015-01-22 18:27] rgaiacs commented on #138
There is two problems here: (1) automatic numbering of figures and (2) link to figures from the text.

## Automatic Numbering of Figures

This one is "easy" and we have a few options:
- Use CSS, e.g. https://github.com/swcarpentry/python-novice-inflammation/pull/7#discussion_r23197234.

  The problem with this approach is that we will not be able to get recovery the number (at least until [this sp

[2015-01-27 22:39] abought commented on #130
Do you prefer this be done by the lesson template validator, or a separate repository-setup script?

[2015-01-28 00:27] gvwilson commented on #130
Not fussed about it being the same script or a different script as long
as all checks are run by the same 'make' invocation.

[2015-01-28 11:01] gvwilson opened #148 "Add note to FAQ about figure names in IPython Notebook"
If people are generating Markdown from an IPython Notebook, then whenever they move a generated figure around or add/remove figures, the auto-generated names of the image files produced by .ipynb-to-.md conversion will change. This confuses version control.

[2015-01-28 15:12] jdblischak opened #149 "Need documentation for creating R lesson"
The current documentation does not provide instruction on how to create an R lesson. We write the lessons in R Markdown, and then convert to Markdown version that conforms to the lesson template standards by sourcing the settings in tools/chunk-options.R. Also, the Makefile already incorporates the conversion from R Markdown to Markdown.

Where would be a good location for me to add this informati

[2015-01-28 15:14] gvwilson commented on #149
We're likely to need similar special instructions for IPython Notebooks,
so I suggest creating a new level-2 heading in `LAYOUT.md` called
`Writing Lessons in R Markdown` and summarizing there.

[2015-01-29 04:27] abought commented on #107
No reply from @optixlab after 4 weeks, so closing. If the problem persists, we can reopen and address further.

[2015-01-29 04:27] #107 closed, assigned to abought

[2015-02-04 00:24] jdblischak opened #156 "Need Makefile to not delete intermediate md files when building R lesson"
For building an R lesson, e.g. [r-novice-inflammation](https://github.com/swcarpentry/r-novice-inflammation), there are two steps. First the source R Markdown files are knit to Markdown. Then these Markdown files are processed via pandoc to create the html. Make automatically deletes the intermediate Markdown files.

The SWC R community has decided it would prefer to keep these intermediate Markdo

[2015-02-05 04:01] ChristinaLK opened #158 "where to list lesson maintainer/contact"
Hi all, quick question: should maintainers/contact people for a lesson be listed in a lesson repo, and if so, where?  We're kicking around the idea of listing maintainers in CONTRIBUTING.md...thoughts?

[2015-02-05 11:30] gvwilson commented on #158
+1 - I think that's a great idea.

[2015-02-05 12:19] AidanDelaney commented on #107
I hit the same issue as I didn't have pandocfilters installed.

[code]

completed my environment setup and made the build work.

[2015-02-05 19:11] wking commented on #158
On Wed, Feb 04, 2015 at 08:01:47PM -0800, Christina Koch wrote:

Earlier discussion in swcarpentry/shell-novice#59.

[2015-02-05 21:19] rgaiacs opened #159 "About commiting HTML files"
**The discussion of this issue happened at our mailing list**, see http://lists.software-carpentry.org/pipermail/discuss_lists.software-carpentry.org/2015-February/002573.html.

@jiffyclub [asked](https://github.com/swcarpentry/git-novice/pull/34#issuecomment-72702119)

@gvwilson Where can we write the answer for this question? `README.md`?

[2015-02-05 21:22] wking commented on #159
On Thu, Feb 05, 2015 at 01:19:17PM -0800, Raniere Silva wrote:

This is information for contributors, not all users, so I'd recommend
CONTRIBUTING.md.

[2015-02-05 21:31] gvwilson commented on #159
I think `CONTRIBUTING.md` is the right place.

[2015-02-05 21:31] rgaiacs commented on #156
@jdblischak I will copy https://github.com/swcarpentry/r-novice-inflammation/pull/39.

[2015-02-05 21:35] rgaiacs commented on #156
@abought I'm assigning this to you since you start working on #157 that covers this issue.

[2015-02-06 16:19] karinlag commented on #159
On 05/02/15 22:31, Greg Wilson wrote:

I have been thinking about this, since I sat down last weekend to work
on the sql material and suddenly discovered that I had no clue what to
do about the html files.

I think it has to be up front straight away somehow, even if that just
means that the repo has a heading somewhere at the top where it points
to where you can figure things out. A contributor s

[2015-02-06 16:55] wking commented on #159
On Fri, Feb 06, 2015 at 08:19:30AM -0800, karinlag wrote:

GitHub posts a nice, highlighted link to CONTRIBUTING.md at the top
whenever you open an issue or pull request [1](https://github.com/blog/1184-contributing-guidelines).  A link from the
README would be good to (“For information about contributing to this
project, see [CONTRIBUTING.md](CONTRIBUTING.md).”).

[2015-02-06 17:50] gvwilson commented on #159
Yup - but if people aren't seeing it, they aren't seeing it, so we have
to help.

G

[2015-02-07 19:25] andreww commented on #159
For the record, @ChristinaLK has a version of what's needed in the lessons at https://github.com/swcarpentry/shell-novice/pull/68.  Once that's settled down I guess it should be copied here and and made into a non-specific template (with a note somewhere in the instructions for creating a new lesson saying that the file will need updating).

Where should instructions for contributing to this repos

[2015-02-08 12:17] karinlag commented on #159
On 06/02/15 18:50, Greg Wilson wrote:

This is _after_ you have opened an issue or a pull request. You have to
be fairly brave/knowledgeable to just get to that point.

If you see right away that all you have to do is to fix the md, it
lowers the bar a lot IMO. +1 to having it in the readme.

K

[2015-02-08 14:16] gvwilson commented on #159
I'm convinced - please submit a PR to add something prominent to README.md.

[2015-02-08 16:32] wking commented on #159
On Sun, Feb 08, 2015 at 04:17:57AM -0800, karinlag wrote:

Then maybe we need to be more welcoming, since “there's a typo on page
$X, let me create an issue” shouldn't require much bravery or
knowledge beyond [1](https://help.github.com/articles/creating-an-issue/).  Maybe the README text should be:

  We welcome contributions of any kind.  For more information see
  [CONTRIBUTING.md](CONTRIBUTING

[2015-02-09 19:28] karinlag commented on #159
On 08/02/15 17:32, W. Trevor King wrote:

Hm, I might not have dug enough, but I could not find a template README
to add this to. Should we have one?

K

[2015-02-09 22:45] wking commented on #159
On Mon, Feb 09, 2015 at 11:28:34AM -0800, karinlag wrote:

I expect it should go somewhere like this [1](https://github.com/swcarpentry/lesson-template/blob/gh-pages/README.md#giving-help).

[2015-02-10 20:45] rgaiacs opened #166 "Add "validate" as make target"
@tbekolay at https://github.com/swcarpentry/python-novice-inflammation/pull/27 show us that we need to add one target to validate the lessons and make clear that "unittest" isn't for it.

[2015-02-10 20:46] abought commented on #166
Is this a duplicate of #164 ?

[2015-02-10 20:49] rgaiacs opened #167 ""getting-started" and "suitable-for-newcomer" are duplicate labels?"
@gvwilson The meaning for "getting-started" and "suitable-for-newcomer" at `FAQ.md` look very similar.

[2015-02-10 20:55] abought commented on #156
#157 was closed, so there'd be no blocking issues on merging this into `lesson-template/core`.

What is the requested change from here?
1. Pull a change from `r-novice-inflammation` into this repo, or
2. Pull the latest changes from this repo into `r-novice-inflammation`

[2015-02-10 21:00] abought opened #168 "Proposed new labels for repo"
Currently, we label issues mainly by their status (bug, defer, etc).

I'd like to propose several new labels to enable filtering by task area:
- `validator` (changes to what and how we validate)
- `build` (changes to makefile and lesson creation process)
- `documentation` (information about how to use the repository)
- `merge` or `update` (track pull requests related to resolving differences acros

[2015-02-10 21:00] jdblischak commented on #156
Commit 98029a72adcebbcbd7eb1178484b92996a494621 was merged into gh-pages in PR #163, so this issue can now be closed.

[2015-02-10 21:00] #156 closed, assigned to abought

[2015-02-10 21:10] wking commented on #168
On Tue, Feb 10, 2015 at 01:00:22PM -0800, Andy Boughton wrote:

I haven't been tracking the labeling debate, but +1 to orthogonal tags
for status and subject.

[2015-02-10 21:21] rgaiacs commented on #166
@abought Yes. Sorry for not see it.

[2015-02-10 21:21] #166 closed, assigned to nobody

[2015-02-11 02:50] abought commented on #104
Closing this issue in favor of #134 , which covers the remaining portion of this issue.

[2015-02-11 02:50] #104 closed, assigned to abought

[2015-02-11 02:52] abought commented on #114
The issues found here have mostly been resolved, and new tickets have been created in lesson-specific repos. Closing.

[2015-02-11 02:52] #114 closed, assigned to abought

[2015-02-11 21:06] aaren commented on #138
@r-gaia-cs the active pandoc issue for this is https://github.com/jgm/pandoc/issues/813 and it has seen some recent activity.

As for filters, I wrote one (in python) that does automatic markdown figure numbering / linking:

https://github.com/aaren/pandoc-reference-filter

[2015-02-12 02:21] gvwilson commented on #73
See #170.

[2015-02-12 02:32] gvwilson commented on #168
+1 - @r-gaia-cs can you please create the labels?

[2015-02-12 02:36] abought commented on #168
Per swcarpentry/site/issues/813, could we also add a label for `review-requested`?

That would help to identify pull requests/ suggestions with no owner, and provide one more way to draw attention to issues without needing to follow every email notification in detail.

[2015-02-12 03:00] wking commented on #168
On Wed, Feb 11, 2015 at 06:36:20PM -0800, Andy Boughton wrote:

You can already filter these out using 'no:assignee' in the GitHub
issue / PR lists.

[2015-02-12 23:14] kynan opened #172 "Load bootstrap from CDN"
The simplest way to include bootstrap these days is to [load it from CDN](http://getbootstrap.com/getting-started/#download-cdn). It also keeps the repo size down and the working tree slim.

How important is it for the lessons to work offline? See also #121 on the use of MathJax, which is a *very heavy* dependency when not loaded from CDN.

[2015-02-12 23:42] gvwilson commented on #172
I do most of my writing on planes, without Internet access.  I'm willing
to be overruled.

[2015-02-12 23:47] jiffyclub commented on #172
I vote to leave Bootstrap in our repo. Using a CDN makes sense most of the time, but we have so many people working on our site under such varied conditions that someone is *always* going to want it locally.

[2015-02-13 03:13] r-gaia-cs commented on #172
@kynan Thanks for the suggestion. We are trying to make possible for people work with the lessons offline by avoid request resources from third party sites and keep simple for people starting contributing by keep all required files at the repo. If you have time to review https://github.com/swcarpentry/lesson-template/blob/gh-pages/DESIGN.md we will be grateful.

I'm closing this for now.

[2015-02-13 03:13] #172 closed

[2015-02-13 20:15] rgaiacs commented on #73
Done at #170 and #174.

[2015-02-13 20:15] #73 closed, assigned to gvwilson

[2015-02-13 20:18] rgaiacs commented on #126
Done at #171.

[2015-02-13 20:18] #126 closed, assigned to gvwilson

[2015-02-13 20:21] rgaiacs commented on #158
I'm closing this since our template now has `CONTRIBUTING.md`.

[2015-02-13 20:21] #158 closed, assigned to nobody

[2015-02-13 20:22] rgaiacs commented on #159
I'm closing this since now we have `CONTRIBUTING.md`.

[2015-02-13 20:51] rgaiacs commented on #168
@abought About `review-requested`, I prefer to use GitHub assignee.

[2015-02-13 21:12] abought commented on #168
Fair point. #175 and #176 would close this ticket, then.

[2015-02-15 16:47] rgaiacs commented on #167
I'm closing this since @gvwilson vote to drop `getting-starter`, see https://github.com/swcarpentry/lesson-template/pull/175#discussion_r24714053 and this will be cover at #175.

[2015-02-15 16:47] #167 closed, assigned to nobody

[2015-02-16 17:36] jdblischak commented on #159
This model of only committing the source files for a PR works when someone is proposing a small change. But what about when someone creates many changes? It has been my experience that most instructors (non-trainees that is) make changes when they are preparing for a workshop. What is the protocol then? Should they always do separate commits whenever they make a change (one for the source and one

[2015-02-16 18:32] wking commented on #159
On Mon, Feb 16, 2015 at 09:36:53AM -0800, John Blischak wrote:

I think so.  In other projects, folks often have separate master and
gh-pages branches, and that makes this distinction easy (via a
‘*.html’ in master's .gitignore).  For a gh-pages-only workflow, it's
just going to be a discipline issue to keep the changes in separate
commits.

Yes, and “somehow” is probably just going to be “if I'd

[2015-02-17 04:28] jdblischak commented on #159
Thanks for the advice, @wking. I agree these would be good ways to develop the material if everyone had a decent understanding of Git. But the reality is that most of our instructors do not, and we have no requirement of knowledge of branching as part of instructor training. I want to write better documentation to make my life easier when contributors send PRs to the repo I maintain, but I'm not g

[2015-02-17 11:16] gvwilson commented on #159
On 2015-02-16 11:28 PM, John Blischak wrote:

[2015-02-17 15:18] jdblischak commented on #159
But Greg, my comment was in response to your [answer](http://lists.software-carpentry.org/pipermail/discuss_lists.software-carpentry.org/2015-February/002575.html) to the thread that started this Issue. You want development in only one branch, but then you want PRs to only include changes to the source code. Then any changes someone makes to improve the lesson for use in their workshop will be los

[2015-02-17 18:35] wking commented on #159
On Tue, Feb 17, 2015 at 07:18:20AM -0800, John Blischak wrote:

For folks who aren't ready to use a feature-branch workflow locally,
all we need is a pointer to their gh-pages branch and a summary of the
changes they think should be upstreamed.  Then anyone who's motivated
by the changes and has sufficient Git competence can go through and
cherry-pick the changes out of their branch to reconstruct

[2015-02-17 21:24] willingc commented on #168
Merged #175

[2015-02-19 08:39] kynan commented on #172
OK thanks, I can buy the argument.

[2015-02-19 08:45] kynan commented on #172
@r-gaia-cs The design document is sound to me. It might be worth adding the reasoning you mentioned i.e. being self-contained without external dependencies.

[2015-02-19 10:39] gvwilson commented on #172
+1 to adding this to the design doc - Florian, can you please PR a
couple of sentences for us?

[2015-02-19 15:07] jdblischak commented on #159
@wking , I just don't see how this approach scales. SWC is growing larger by the day. We're increasing both the number of distinct lesson repos and instructors. For SWC to grow into a large, distributed, open-source project, we need reliable documentation that any new collaborator can read and then start contributing. Determining how to merge PRs on a case-by-case basis is too time-consuming.

P.S

[2015-02-19 18:26] wking commented on #159
On Thu, Feb 19, 2015 at 07:07:21AM -0800, John Blischak wrote:

The approach that scales is getting contributors to create source-only
pull requests.  If you're instructions are:
1. Don't make commits that touch both the source and auto-generated
   content (‘git add …’ and ‘git commit’ without ‘-a’ are useful
   here).
2. In fact, you probably don't need to commit the auto-generated
   content at

[2015-02-21 16:21] kynan commented on #159
I tend to agree with @wking. For one imho one of our goals should be to make people more comfortable with git to a level they can follow the process outlined above. I also agree that it's not too hard to rebase someone else's pr to make it conform to these rules. I have done similar git surgery many times and I assume so have many of the more senior SWC contributors.

[2015-02-25 15:44] #149 closed, assigned to jdblischak

[2015-02-25 19:21] rgaiacs commented on #168
New labels already set up.

[2015-02-25 19:21] #168 closed, assigned to rgaiacs

[2015-02-25 19:23] rgaiacs commented on #64
@fmichonneau Could you give us a update of the progress of this issue? **Sorry that I lost track of it.**

[2015-02-25 23:19] #132 closed, assigned to nobody

[2015-03-04 12:45] gvwilson opened #192 "Allow for a running example"
The Data Carpentry folks use a running example through each of their lessons; we have something like that with "Nelle's Pipeline" in our intro shell lesson (https://github.com/swcarpentry/shell-novice/), and it works pretty well.  I'd therefore like to allow-but-not-require a single level-2 heading in each topic file that _isn't_ in a blockquote, and that has the class '{.story}'.  If someone can

[2015-03-10 02:38] wking opened #193 "No-merge PRs for sharing unpolished lesson ideas"
@daisieh floated the idea [on `discuss@`](http://lists.software-carpentry.org/pipermail/discuss_lists.software-carpentry.org/2015-March/002763.html) of having no-merge branches like swcarpentry/git-novice#62 for sharing lesson tweaks that are interesting, but maybe not interesting or polished enough to merge into a lesson's main development branch.  I think this is a good idea, and I'd been doing

[2015-03-10 03:37] daisieh commented on #193
My logic about trying to merge the PRs into labeled (but unmerged-to-master) branches in the main repo was that in case instructors leave and decide to delete/clean their forks, we'd still have the information in the main repo. I don't know if it would be a lot of trouble for perhaps the repo maintainers to do that? Like, the instructor (if they have changes they want to share, and we encourage th

[2015-03-10 12:44] gvwilson commented on #193
My concern is that these will pile up and never be read (much less merged).

[2015-03-10 16:52] wking commented on #193
On Mon, Mar 09, 2015 at 11:19:04PM -0400, Ivan Gonzalez (@iglpdc) wrote [1](http://lists.software-carpentry.org/pipermail/discuss_lists.software-carpentry.org/2015-March/002777.html):

This sounds good, yeah.

I don't think this matters (and @daisieh raised a similar concern
[2](https://github.com/swcarpentry/lesson-template/issues/193#issuecomment-77990661)).  I don't want to delete my fork of le

[2015-03-10 17:00] wking commented on #193
On Tue, Mar 10, 2015 at 05:44:02AM -0700, Greg Wilson wrote:

Ignoring close PRs shouldn't be too hard ;), so I don't see any
downside.  And I see an upside in increased discoverability in the
event that someone does want to look through the submission (or
searches for something they're interested in, e.g. with [1](https://github.com/swcarpentry/git-novice/issues?q=detached+head), to see if
anyone

[2015-03-10 17:19] wking commented on #193
On Tue, Mar 10, 2015 at 10:00:31AM -0700, W. Trevor King wrote:

To back this up with a real-world example, Ethan just referenced work
from swcarpentry/git-novice#62 as seed content for additional Git
motivation [1](https://github.com/swcarpentry/git-novice/pull/49#issuecomment-78088258).

[2015-03-10 17:56] iglpdc commented on #193
I see. We could try.

I see a minor downside if people uses this instead of PRs against master. For example, someone has a lot of useful stuff in her branch, but I find it hard for people to go through all her changes to create new PRs form there (as a general rule). So I think most of the times who's archiving the branch would be the one creating PRs from her archived material. The minor issue I

[2015-03-10 18:09] jiffyclub commented on #193
This could in a way encourage people to merge things back to the main lesson. That is, they open their archive PR and people reviewing it can call out certain things they'd like to see merged back into the main lesson. Then, hopefully, the person who opened the archive PR would make new PRs with the requested updates.

[2015-03-10 21:33] wking commented on #193
On Tue, Mar 10, 2015 at 10:56:30AM -0700, Ivan Gonzalez wrote:

Absolutely.  I prefer PRs against the main lesson branch where:
1. The change is an evolutionary improvement on the main lesson.
2. The submitting author is capable of generating such PRs (see #159
   where @jdblischak and @gvwilson express concern about the
   feature-branch approach being overly complicated).
3. The change isn't par

[2015-03-10 22:34] wking opened #195 "Local list of maintainers in CONTRIBUTING.md?"
In #170 we landed the following text:

The shell PR that inspired #70 was swcarpentry/shell-novice#68, which had:

and the shell lesson [still lists the maintainers locally](https://github.com/swcarpentry/shell-novice/blob/2cfb4b5c2d8f57a79d2fe063d8a786bd98174a8e/CONTRIBUTING.md#getting-started).  Can we switch this repository to list it's maintainers, and then have downstream maintainers update t

[2015-03-11 03:11] jdblischak commented on #195
My main concern about this is merge conflicts. If a lesson maintainer modifies this file such that it points to the issues of their repo and lists them as the maintainer, the next time this file gets edited, there will be a merge conflict when pulling from the `core` branch of lesson-template.

[2015-03-11 03:15] jdblischak commented on #195
Forgot to mention. The way we are currently handling this in r-novice-inflammation is to have an additional [contributing section in the README](https://github.com/swcarpentry/r-novice-inflammation#contributing). In this section it links to the issues of that repo, links to the generic CONTRIBUTING.md, and gives directions that are specific for that repo (and I should probably list the lesson main

[2015-03-11 03:21] gvwilson commented on #195
On 2015-03-10 8:15 PM, John Blischak wrote:

[2015-03-11 04:02] wking commented on #195
On Tue, Mar 10, 2015 at 08:11:55PM -0700, John Blischak wrote:

I don't expect the lesson-template maintainers to have such rapid
churn that this is a recurring issue.  If the lesson maintainers (or
whoever is handling the core merges [1](https://github.com/swcarpentry/shell-novice/pull/92#issuecomment-77175753)) has to resolve a matainer
change conflict once a year (or once every two, or however

[2015-03-11 12:24] jdblischak commented on #195
It's not clear to me why there is a link to the Issues in lesson-template in the first place. This CONTRIBUTING.md describes how to contribute to a lesson repo that is a clone of the lesson-template.

For example, the following two lines describe downstream lesson repos, and not the lesson-template repo itself:

This isn't true for lesson-template. Changes to the core files should be filed against

[2015-03-11 16:37] wking commented on #195
On Wed, Mar 11, 2015 at 05:24:52AM -0700, John Blischak wrote:

I agree, but I'd rather the fix be making CONTRIBUTING.md actually
apply to lesson-template, but with an eye to making life easy for
downstream lesson maintainers.  I can open a PR with some suggested
text if this sounds reasonable.  Having a CONTRIBUTING.md that does
_not_ apply to the repository that contains it seems like it would

[2015-03-11 17:21] gvwilson commented on #195
I expected lesson authors to modify CONTRIBUTING.md (e.g., change the
links for issues etc.) for each of their lessons.  If that's not clear,
we can (a) clarify and (b) add something to the validator to complain if
they _haven't_ done it.

[2015-03-11 17:21] gvwilson commented on #195
+1 on locally maintaining contributors - we want to make it easy for
people to build lessons using our templates + tools that aren't part of
SWC core, and a centralized contributor list directly contradicts that.

[2015-03-11 17:28] wking commented on #195
On Wed, Mar 11, 2015 at 10:21:59AM -0700, Greg Wilson wrote:

I'm happy to work up or review a PR for this (whichever is more
helpful).  Who gets listed for this repository?

[2015-03-11 17:35] gvwilson commented on #195
@wking can you please add a script to the 'tools' directory that'll list
names of contributors via `git log` and other magic?  That'll give
people a starting point...

[2015-03-11 17:50] wking commented on #195
On Wed, Mar 11, 2015 at 10:35:35AM -0700, Greg Wilson wrote:

For listing the maintainers?  Looking at just folks merging into the
mainline here we have:

  $ git shortlog -s --first-parent origin/core
     1  Aaron O'Leary
     2  Andy Boughton
    47  Greg Wilson
     1  James Allen
     1  John Blischak
    16  Raniere Silva
     1  abought

Expanding to include gh-pages gives us:

  $ git shor

[2015-03-11 17:53] gvwilson commented on #195
I think for most lessons we'll want gh-pages - core is just for the
template (and we can handle that specially).  A script that gives what
you believe to be the most useful answer would be very welcome.

[2015-03-11 17:56] wking commented on #195
On Wed, Mar 11, 2015 at 10:53:15AM -0700, Greg Wilson wrote:

Most useful for guessing maintainers?

[2015-03-11 17:58] gvwilson commented on #195
Most useful for giving people who've contributed the credit they deserve.

[2015-03-11 18:20] wking commented on #195
On Wed, Mar 11, 2015 at 10:58:54AM -0700, Greg Wilson wrote:

Done in #197.

After re-reading your earlier comment [1](https://github.com/swcarpentry/lesson-template/issues/195#issuecomment-78311139), I see you were +1ing
locally listing _contributors_, but not speaking to locally listing
(or not) _maintainers_.  Where do we stand on that?

[2015-03-11 21:33] daisieh commented on #193
I don't think this is supposed to _replace_ PRs against master: I think that instructors would find it less intimidating to share their mods this way, and then in the comments, people could encourage the instructor to make a PR to push the best changes to master.

[2015-03-11 21:34] daisieh commented on #193
I don't think this is supposed to *replace* PRs against master: I think that instructors would find it less intimidating to share their mods this way, and then in the comments, people could encourage the instructor to make a PR to push the best changes to master.

[2015-03-11 21:34] daisieh commented on #193
I don't think this is supposed to *replace* PRs against master: I think that instructors would find it less intimidating to share their mods this way, and then in the comments, people could encourage the instructor to make a PR to push the best changes to master.

[2015-03-11 21:39] daisieh commented on #193
From my conversations with the other instructors at our workshop, I found that people do find it intimidating to spontaneously suggest changes to master; people feel like the material at master is that way for a reason, and their changes are just their own thing, not something that others want. I'd like to get around that by making people feel like their changes are not being forced on others, jus

[2015-03-11 21:52] wking commented on #193
On Wed, Mar 11, 2015 at 02:39:37PM -0700, Daisie Huang wrote:

I'm happy to do whatever it takes to make PRs against the main
development branch (core or gh-pages here, and gh-pages for downstream
lessons).  PRs are just “here are some possible changes, and my
motivation for them is …”, so I'd encourage folks who notice such
intimidation to encourage the potential submitter to just open the PR
;).

[2015-03-11 22:11] wking commented on #193
The last few comments here are all in favor of the change.  To move
this towards a consensus resolution, I want to make sure folks who
have voiced concerns feel that their concerns have been addressed.
Issues that have been raised:
- No-merge PRs pile up [1](https://github.com/swcarpentry/lesson-template/issues/193#issuecomment-78045673).  I tried to address this in [2](https://github.com/swcarpen

[2015-03-12 03:27] jdblischak commented on #195
If CONTRIBUTING.md is meant to be edited for each of the lessons, shouldn't it only be present in the gh-pages branch? It was my understanding that the core branch was only supposed to contain files that are shared across lesson repos.

[2015-03-12 03:53] iglpdc commented on #193
I'm good. I think you summarized it pretty well. I like the idea of evolutionary vs revolutionary changes.

[2015-03-12 14:26] wking commented on #195
On Wed, Mar 11, 2015 at 08:27:29PM -0700, John Blischak wrote:

I think we want a CONTRIBUTING.md in the core branch because:
1. We want to lay out how to contribute to the core branch.
   CONTRIBUTING.md is where GitHub wants us to put that information
   [1](https://github.com/blog/1184-contributing-guidelines), and an in-branch version ensures folks contributing to core
   from the command line

[2015-03-12 20:10] fmichonneau commented on #64
Considering this done. Please open issues if you notice anything wrong with the new CSS.

[2015-03-12 20:10] #64 closed, assigned to nobody

[2015-03-12 21:14] daisieh commented on #193
Yay! I'm glad my idea is getting traction :)

[2015-03-15 18:16] wking opened #199 "Split long discussion points into separate files? Or drop untaught discussion?"
In swcarpentry/git-novice#71, @gvwilson suggested a [500–800 word range](https://github.com/swcarpentry/git-novice/issues/71#issuecomment-81154328) for disussion entries.  That strikes me as a bit long for the current [list-based suggestion](https://github.com/swcarpentry/lesson-template/blob/966a0322695852676884f8c094b83d31cc4c728c/discussion.md).  In fact, the novice Git lesson has already [move

[2015-03-15 18:59] wking commented on #199
Another possibility would be to have a single, few-minute long, skip-able block at the end of each lesson page.  Although perhaps this content should come out of the existing lesson material where we've underestimated the teaching time (see the time-pressure discussion in swcarpentry/site#873).  Then instructors who were on-schedule could cover the full lesson, and instructors who had fallen behin

[2015-03-15 23:29] gvwilson commented on #52
A better solution is to add a check to the validator.

[2015-03-16 14:47] iglpdc commented on #199
I really don't have a clear idea of what's supposed to be in `discussion.md`. It's addressed to learners, but not to be included in the lesson. The materials shouldn't possibly be part of an advanced or extra lesson (such materials should have their own lessons).

I think this is a similar situation to the Supplementary Materials in some scientific journals. And we should avoid the problem often s

[2015-03-17 16:41] gvwilson commented on #199
I think each set of lesson maintainers should fill in `discussion.md` as
they think best for now, and once we've got a couple of examples to
generalize from, we can figure out what it _should_ be.

[2015-03-17 17:03] wking commented on #199
On Tue, Mar 17, 2015 at 09:41:29AM -0700, Greg Wilson wrote:

Sounds good to me.  Until we have enough data to reach an informed
consensus, we can just link here to show that folks have the
flexibility to experiment.

[2015-03-21 07:57] rgaiacs opened #202 "Updating CSS based on recent changes to styles repo"
#200 has a bug that should be solved by https://github.com/swcarpentry/styles/pull/16. After https://github.com/swcarpentry/styles/pull/16 be merged, need to

[code]

where

[code]

[2015-03-21 19:27] rgaiacs commented on #202
@gvwilson Maybe you get some conflicts when merging. I'm confident that is safe to use

[code]

If you prefer you can reassign this to me.

[2015-03-22 01:18] rgaiacs opened #207 "Minor change at HTML when building it"
[code]

@gvwilson What version of Pandoc are you using? I want to check this later.

[2015-03-22 01:19] gvwilson commented on #207
pandoc 1.31.1 on OS X 10.8

[2015-03-22 01:44] rgaiacs commented on #207
Do you mean 1.13.1?
The last release was 1.13.2,
see https://github.com/jgm/pandoc/releases.

[2015-03-22 08:59] gvwilson commented on #207
Sorry, yes - long day.  What's the bug you're seeing that you think
might be due to the Pandoc version?
Thx,
G

On 2015-03-21 9:44 PM, Raniere Silva wrote:

##

Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2015-03-22 13:44] rgaiacs opened #208 "Challenges at discussion"
From https://github.com/swcarpentry/git-novice/pull/80,

[code]

Need to change `tools/check.py` to allow challenge call out at `discussion.md`.

[2015-03-22 14:10] rgaiacs commented on #207
The attributes at `h2` are not the same. It is related with Pandoc, from 1.13.1 to 1.13.2, and our script.
I will need more time to solve it.

[2015-03-22 14:27] iglpdc commented on #208
See also the discussion in #199. Shouldn't we first agree on the format of `discussion.md` before changing the script?

[2015-03-22 22:13] iglpdc opened #209 ""CONTRIBUTING.md" and "CONDUCT.md" should be skipped by check.py"
When running `tools/check.py` in the git-novice lesson, I get:

[code]

I think that those two files should be added to "SKIP_FILES" in `tools/check.py`.

I could do a PR later if someone confirms this.

[2015-03-22 22:50] abought commented on #209
They're not skipped? Let me take a look later; this has been sitting in my Mail Folder of Shame for too long now.

[2015-03-23 02:04] abought commented on #209
Ah... looks like this functionality was added in https://github.com/swcarpentry/lesson-template/commit/c7c6aaa6c193cd8250127daff5f19024096f6cf5 , but then accidentally reverted during the last reconciliation of `core` and `gh-pages` four days ago.

See: https://github.com/swcarpentry/lesson-template/commit/e22aa93637d9ca8aad4657cf1252a541c7a4dea1

Since the changes are technically already part of

[2015-03-23 02:20] abought commented on #209
Should be fixed once #210 is merged. Thanks for the sharp eyes and quick feedback. (caught in just a few days!)

[2015-03-23 02:39] iglpdc commented on #209
Thanks @abought! That was quick.

[2015-03-24 22:01] fmichonneau opened #211 "Allow code within blockquote2div"
I think this mostly affects the R lessons but it probably wouldn't hurt for the other lessons as well.

Currently, there are challenges that includes chunks for R code such as this:

[code]

after being processed with knitr it gets converted to something like this

[code]

basically it introduces empty lines around the processed chunks. These empty lines mislead the blockquote2div scripts and put

[2015-03-24 22:10] rgaiacs commented on #211
[code]

is different from

[code]

Can we change knitr?

[2015-03-28 12:15] rgaiacs commented on #118
@gvwilson Can you create repositories for `core` and `gh-pages`? This will avoid trouble when people create pull requests. During the Easter I will try find some time to write a "how to" blog post to help people contributing to `core`.

[2015-03-28 19:16] wking commented on #195
So the only argument I've seen against having a localized
maintainer listing is @jdblischak's concern about merge conflicts
[1](https://github.com/swcarpentry/lesson-template/issues/195#issuecomment-78193024), which I tried to rebut [2](https://github.com/swcarpentry/lesson-template/issues/195#issuecomment-78201680).  Then we had a detour into a
localized issue link (see also #214), and I tried to

[2015-04-02 16:53] wking commented on #195
On Sat, Mar 28, 2015 at 12:14:20PM -0700, W. Trevor King wrote:

I usually wait at least a week between bumps, but it's been five quiet
days now so it doesn't seem _too_ soon ;).  As another example of
point (c) in my comment opening this issue, I'm not sure who's
maintaining swcarpentry/instructor-training.  It's not listed on our
central maintainer list [1](http://software-carpentry.org/lessons.

[2015-04-02 18:44] gvwilson commented on #195
Apologies, but fundraising is ahead of this in queue right now.

[2015-04-02 18:50] wking commented on #195
On Thu, Apr 02, 2015 at 11:44:12AM -0700, Greg Wilson wrote:

Is there any way to move the orphaned repositories forward while
you're focusing on fundraising?  For example, after you ok-ed general
merge access to amy [1](https://github.com/swcarpentry/amy/pull/232#issuecomment-88192087), I nominated Piotr as the new maintainer [2](https://github.com/swcarpentry/amy/pull/232#issuecomment-88193614)

[2015-04-04 19:17] gvwilson commented on #195
Now that lesson-template and lesson-example are separate, we can require a level-2 section in README.md called "Maintainers" with a bullet list of the lesson's maintainers:

[code]

The validator can check for it (cc @abought and @r-gaia-cs for confirmation), and there won't be merge conflicts when updating from lesson-template (because lesson-template doesn't have a README).  Workable?

[2015-04-04 19:30] wking commented on #195
On Sat, Apr 04, 2015 at 12:17:11PM -0700, Greg Wilson wrote:

This works for me.

I'd consider adding a README.md that just says something like:

  A shared template for Software Carpentry lessons.  See [docs][] for
  details.

  [docs]: path-to-docs, e.g. doc/template/README.md

Because it's good to have _something_ up as a landing page.  Ideally
that will be something like the above which we can

[2015-04-04 20:08] rgaiacs commented on #195
+1

[2015-04-05 12:37] gvwilson opened #220 "Should we allow sub-headings within lessons?"
See the thread starting at http://lists.software-carpentry.org/pipermail/discuss_lists.software-carpentry.org/2015-April/002920.html for background - should we permit sub-sections within topic pages in lessons, or should we stick to the rule that "if you want to break it into pieces, you should start a fresh page"?

[2015-04-05 16:53] wking commented on #220
On Sun, Apr 05, 2015 at 05:37:11AM -0700, Greg Wilson wrote:

I it's a good idea to break to a new topic file instead of adding
intra-topic headers, but I'd also like to leave these sorts of minor
details to the discretion of the lesson's maintainer.  So “suggest no
intra-topic headers, but don't test for them in the validation
scripts”.

[2015-04-05 22:20] DamienIrving commented on #220
I like @wking's suggestion of leaving these types of small details to the discretion of the author. Perhaps the language used by `make check` could just be scaled back a little? Instead of:
_The topic page should not have sub-headings outside of special blocks. If a topic needs sub-headings, it should be broken into multiple topics._
it could say something along the lines of:
_Your page makes use

[2015-04-14 22:23] wking commented on #195
On Sat, Apr 04, 2015 at 12:17:11PM -0700, Greg Wilson wrote:

As a trial implementation of this approach, I've just submitted #223
to remove the CONTRIBUTING.md reference to the central listing, and
then the follow-on swcarpentry/lesson-example#2 to pull #223 into the
lesson-example repository and add the lesson-example maintainers to
its README.md.  If we like those PRs, I can go around and submi

[2015-04-16 21:54] jiffyclub opened #224 "Prep for 5.3 Lessons Release"
This post is targeted at the @swcarpentry/lessons subcommittee, but everyone is invited to contribute.

In the next month or two we're planning to declare our lessons to be at version 5.3 and try to make permanent archives of each lesson with citable [DOIs](http://en.wikipedia.org/wiki/Digital_object_identifier). In the lead up to that we've got some work for which we're looking for volunteers:
#

[2015-04-16 22:57] rgaiacs commented on #224
I can also help someone to use GitHub API.

[2015-04-16 23:03] wking commented on #224
On Thu, Apr 16, 2015 at 02:54:27PM -0700, Matt Davis wrote:

The GitHub API is simple enough that we probably don't need a wrapper.
I put together a milestone-and-issue checklist pusher for Greg last
weekend [1,2] which pushed arbitrary templates (like [3](https://github.com/wking/swc-lead-instructor-checklist)).  We can use
that out of the box with something like:

  $ pip install --user github-p

[2015-04-17 00:23] daisieh commented on #224
Ha, I already accidentally did it manually for the git-novice repo.

[2015-04-17 15:11] wking commented on #224
On Thu, Apr 16, 2015 at 05:23:21PM -0700, Daisie Huang wrote:

That's fine too ;).  Creating a single milestone isn't a terrible,
multistep task.  So whatever is easiest for each lesson maintainer…

[2015-04-17 16:30] jiffyclub commented on #224
Yeah creating the milestone is definitely something we could ask the maintainers to take care of.

[2015-04-18 13:01] rgaiacs commented on #224
I remembered that I wrote a shell script to setup the labels,
see https://github.com/swcarpentry/lesson-template/blob/gh-pages/tools/setup-labels,
that shouldn't be hard to change for setup the milestone.

@jiffyclub Do you have someone that could do the changes in my script?

[2015-04-18 15:53] wking commented on #224
On Sat, Apr 18, 2015 at 06:01:24AM -0700, Raniere Silva wrote:

While we're talking about scripting lesson/milestone creation, I just
took ghi [1](https://github.com/stephencelis/ghi/) for a spin, and after patching my gem-installed version
to fix [2](https://github.com/stephencelis/ghi/pull/166) it seems pretty convenient for these sorts of one-off
tasks.

[2015-04-19 13:51] rgaiacs commented on #211
I requested this feature to knitr, see https://github.com/yihui/knitr/issues/1022.

[2015-04-19 13:52] #209 closed, assigned to nobody

[2015-04-19 13:53] #202 closed, assigned to gvwilson

[2015-04-19 13:53] rgaiacs commented on #195
@wking Can we close this?

[2015-04-19 13:54] #159 closed, assigned to nobody

[2015-04-19 13:55] #118 closed, assigned to nobody

[2015-04-19 15:13] fmichonneau commented on #211
Hi @r-gaia-cs

Thanks for submitting the feature request with knitr. That would make things simpler if it was directly supported. I realize as your example demonstrates that the two chunks of code have different output. However, if our blockquote2div could add the extra `>` where needed in the blank lines it would fix the location of the box and it's what matters the most at this stage.

The Rmd f

[2015-04-19 17:15] rgaiacs commented on #211
@fmichonneau `blockquote2div` doesn't process the raw Markdown file. It process Pandoc's internal AST using Pandoc's navigation function.

[code]

Will be extremely hard to change `blockquote2div` to do what you want. A more suitable approach is use [json from Python Standard Library](http://docs.python.org/3.5/library/json) to make the changes but we will need to be very careful to know corrupt t

[2015-04-20 05:14] wking commented on #195
On Sun, Apr 19, 2015 at 06:53:57AM -0700, Raniere Silva wrote:

The trial-run PRs both landed, so I'm fine closing this.

Future action after we close this issue:
- I'll PR other lessons I'm involved with to give them local
  maintainers.
- If it ends up bugging me or going stale, I'll open a separate issue
  in swcarpentry/site to remove or update (or auto-update?) the
  central maintainer listin

[2015-04-20 12:23] #195 closed, assigned to nobody

[2015-04-26 21:37] rgaiacs commented on #220
I added this as blocking Version 5.3.

@jiffyclub Can you or the Lesson Development Subcommittee take a decision on this so that I can make the last changes on `tools/check.py` and we can all work to have no errors/warnings on the lessons?

[2015-04-26 21:39] rgaiacs commented on #211
@fmichonneau I'm closing this since this was fixed on knitr.

[2015-04-26 21:39] #211 closed, assigned to nobody

[2015-04-26 22:03] rgaiacs commented on #207
I will avoid create problems using 26f3290.

[2015-04-26 22:03] #207 closed, assigned to rgaiacs

[2015-04-27 17:44] jiffyclub commented on #220
What was the rationale behind not allowing sub-headings in lessons? Is it only that we want to discourage long lessons, or was there another reason?

[2015-04-27 20:46] DamienIrving commented on #220
@jiffyclub As far as I'm aware it was just to discourage long lessons. The rationale goes that anytime you use a sub-heading you should start a new lesson instead.

As I say above, I think discouraging sub-headings is compromising the readability of our lesson notes (and readability is actually very important when you're standing up in front of a class frantically checking your notes to remember w

[2015-04-27 20:52] DamienIrving commented on #220
If it were me I'd vote for allowing sub headings and the placement of challenges where they occur (i.e. I don't think there was anything wrong with what we were doing before the lesson template existed). That gives the lesson author some flexibility to make their lessons as readable as possible (via the use of subheadings) and also flexibility in teaching style. If they want to teach a particular

[2015-04-27 22:21] wking commented on #220
On Mon, Apr 27, 2015 at 01:46:39PM -0700, Damien Irving wrote:

I haven't looked over this lesson recently, but if there are three
essentially similar parts wrapped around the excercises, I think
splitting those up into separate topics would help everybody focus on
what the distinctions are.  It's good to keep everyone focused on what
the new thing is that you're learning since the last exercise.

[2015-04-27 22:24] wking commented on #220
On Mon, Apr 27, 2015 at 01:52:45PM -0700, Damien Irving wrote:

+1 to author choice with guidance on best-practices.  If the author
ignores best-practices where they would help, they probably shouldn't
be the maintainer of a core lesson.  And if someone wants to go rogue
on a peripheral lesson, then I don't think we really care strongly
enough to hound them about it :p.

[2015-04-27 22:26] DamienIrving commented on #220
They are essentially similar in the sense that they are all concerned with the quick initial task of reading in data and plotting it (i.e. they are very strongly related to one another and follow directly from one another). In three parts they are "variable assignment", "indexing" and "plotting", which could be demarcated via sub-headings or separate lessons. Each have challenges relating to them.

[2015-04-28 01:47] abought commented on #220
Agreed. The "no subheadings within lessons" rule was always subject to revisiting, and someone will always find a good way to take advantage of the capability. In practice, I found that banning subheadings completely generated a lot of errors in stable lessons to little benefit.

In this case, the proposed change is to `tools/check.py` (TopicPageValidator). Currently it errors if ANY headings are

[2015-04-28 10:13] gvwilson commented on #220
I still think that if you want sub-headings, you probably want to break
the file into pieces, and that if there are challenges you want to use
in the middle of a lesson, you _definitely_ want to break it into pieces.

[2015-04-28 15:48] wking commented on #220
On Tue, Apr 28, 2015 at 03:13:38AM -0700, Greg Wilson wrote:

I agree with you, but don't feel strongly enough about it to want to
unlist a lesson if it's maintainers don't agree ;).

[2015-04-29 13:20] hlapp opened #227 "Documentation for how to create and preview HTML has gone missing"
I seem to remember that this used to be in the top-level `README.md`, but now there is no such file anymore, nor another one that documents it. There is PR #215, which if I understand correctly would move this to a subdirectory (which still doesn't obviate the need for a top-level README to point people where to look), but that PR remains in a holding pattern.

The problem is that there is no othe

[2015-04-29 14:16] rgaiacs commented on #227
@hlapp Thanks for the report.

We move that information to https://github.com/swcarpentry/lesson-example/.

We will try to fix the information as soon as possible.

[2015-05-04 14:40] tbekolay opened #229 "Provide a template for localization"
@statkclee is currently translating [`python-novice-turtles`](https://github.com/swcarpentry/python-novice-turtles/pull/7) into Korean, which is fantastic! I'm not sure if this is the first instance of a lesson being localized (I noticed #112 but nothing else), but in any case, I feel that this repository should include some instructions as to how we want localized versions of lessons to be done.

[2015-05-04 14:56] tbekolay opened #230 "Summarize tools/check.py output"
I'm not familiar with the `tools/check.py` code, so I don't know how feasible this is, but I think it would be very helpful to provide a summary at the end, primarily listing how many errors were encountered when checking the files. When dealing with a lesson repository, it's not easy to see whether a PR has introduced new errors or fixed old errors if there are already 20+ errors; it's simply too

[2015-05-04 15:25] tbekolay commented on #220
While ideologically I agree with the idea that subheadings shouldn't be necessary in any topic, I think that this doesn't match reality. I was going through the Python novice lesson to fix these issues, and it really doesn't seem like splitting [09-errors](http://swcarpentry.github.io/python-novice-inflammation/09-errors.html) into separate pages makes sense, and removing the subheadings hurts rea

[2015-05-04 15:51] rgaiacs commented on #229
As far as I can remember, I, @gvwilson and @wking (I believe that I'm missing someone, sorry in advance for that) mostly agree to follow the [workflow of ProGit2](https://github.com/progit/progit2/blob/master/CONTRIBUTING.md#translations) but we didn't have time to write the minor details. I believe that the best approach should be:

## Web way
1. Use https://import.github.com/ to create a copy of

[2015-05-04 15:54] rgaiacs commented on #230
@tbekolay Thanks for the feedback. This is feasible and should be easy (using a global variable). We probably need to do some code refactoring to avoid code duplication on this.

[2015-05-04 15:58] rgaiacs opened #231 "Use aside for call out box"
[aside](https://docs.webplatform.org/wiki/html/elements/aside) is a better element than `div`.

[2015-05-04 16:05] wking commented on #220
On Mon, May 04, 2015 at 08:25:32AM -0700, Trevor Bekolay wrote:

This sounds like log levels to me ;).  How about:

  --log-level {critical|error|warning|info|debug}

that sets the checker's log level?

This sounds too intrusive to me, but I'll accept it if it ends up
being the consensus approach.

[2015-05-04 16:38] tbekolay commented on #220
It's does sound like log levels, but it's a style checker, so the fact that it emits log messages with levels seems like an implementation detail to me. I got `--strict` from [Homebrew's `audit` script](https://github.com/Homebrew/homebrew/blob/master/Library/Homebrew/cmd/audit.rb#L11).

Not that I'm entirely opposed to using `--log-level`, it just seems like A) you would rarely want to use a leve

[2015-05-04 16:50] jiffyclub commented on #220
I'd personally do something very explicit like `--hide-warnings`.

[2015-05-04 16:55] wking commented on #220
On Mon, May 04, 2015 at 09:50:47AM -0700, Matt Davis wrote:

My main concern with boolean options is that we'd have to add more if
we wanted to add additional levels later.  Maybe we're ok running that
risk though…

[2015-05-05 01:36] abought commented on #230
That's a good idea. I'm slowly getting caught up after the move; I'd love to clear a few hours this week/weekend to do some more work on `check.py`. Are we still on track for a mid-month version release?

As a very rough approximation until error counting is built in, it's always worth mentioning the power of combining unix utilities. (though this is not the long term way- just something useful fo

[2015-05-05 05:56] statkclee commented on #229
@r-gaia-cs @tbekolay @jiffyclub I didn't have sufficient time to study this issue except the Korean translation. However, I think that it's very common around software products/services and we can find best practices on this issue, localization. Is there anyone who can share experiences, architectures, stories, and so on?

[2015-05-07 13:53] iglpdc opened #233 "Add a "Getting ready" callout to index.md"
A current problem of our lessons is that some need a particular set of data files. For example, shell-novice needs Nelle's filesystem files and python-inflammation-novice the inflammation data. The solo learner has no clue on how to get these files and in workshops we have to find a way to make them available. See [this thread in our mailing list](http://lists.software-carpentry.org/pipermail/disc

[2015-05-07 14:12] gvwilson commented on #233
Hm - in the lesson template, or in the workshop template?

[2015-05-07 14:41] iglpdc commented on #233
The callout box goes in the lesson template, but I see that the layout of this repo has changed. I think the "Getting ready" box should be treated the same as the "Prerequisites" box, so an `index.md` for a lesson should be:

[code]

The `tools/check.py` script should warn if the callout box is missing.

Then, in the **workshop-template** repo, we could use these links in the schedule section, eit

[2015-05-07 14:42] rgaiacs commented on #233
@iglpdc We are working at the same time. Please check https://github.com/swcarpentry/lesson-example/pull/3.

@gvwilson Does we have time to include this on v5.3?

[2015-05-07 14:50] iglpdc commented on #233
Yep, I did already. I wasn't aware of the new `lesson-example`repo.

[2015-05-07 15:16] #231 closed, assigned to nobody

[2015-05-07 21:56] jiffyclub commented on #220
I think @r-gaia-cs, @gvwilson, and I came to the agreement that we'll allow sub-headings in lessons and convert the errors in the check tool into warnings.

[2015-05-08 01:37] rgaiacs commented on #192
Related with https://github.com/swcarpentry/lesson-template/issues/220.

[2015-05-08 03:23] abought commented on #233
Just to confirm: this is an optional callout, correct? The definition as written will allow either 0 or 1 to be present.

[2015-05-08 03:53] iglpdc opened #237 "tools/check.py doesn't work with the glossary entries"
I was trying to fix an error reported by `tools/check.py` in `git-novice`. The error is:

[code]

Meaning that the lines after the first in the `change set` glossary entry _don't_ start with four spaces. But they do.

By digging into the script, I found:
- only the first glossary entry is checked, because there's a conditional that is short-circuited,
- the first glossary entry always fails the te

[2015-05-08 11:10] rgaiacs commented on #233
This will be a requirement box.
You can say, **you are ready to go**.

I will make the changes today.

[2015-05-08 11:15] rgaiacs commented on #237
@iglpdc I already fixed this a few days ago: https://github.com/swcarpentry/lesson-template/commit/45dbfcdc855b3c299acab1ee80bbf949c69ce395.

Sorry to not warning anyone about this. I will merge the changes that we talk yesterday soon.

[2015-05-08 11:15] #237 closed, assigned to abought

[2015-05-08 13:43] iglpdc commented on #237
Great! Busy days, eh? :-)

[2015-05-08 20:17] #230 closed, assigned to rgaiacs

[2015-05-08 20:20] #233 closed, assigned to nobody

[2015-05-10 20:10] kynan opened #241 "Include CSS as submodule"
Apologies if this has already been discussed: what are the reasons for merging changes from swcarpentry/css into this (and other) repositories rather than including css as a submodule?

One reason could be simplicity for the "user" who doesn't need to deal with submodules.

For developers I would personally find submodules easier to work with and the separation would feel "cleaner".

[2015-05-10 20:18] gvwilson commented on #241
For simplicity - our experiences with submodules in the past have been
unpleasant.

[2015-05-23 21:07] gvwilson opened #242 "What changes should we make for our 5.4 release?"
What changes should we make to the template for the next release?

[2015-05-23 21:07] gvwilson commented on #242
Remove the `Legend` section - nobody's sure what to do with it anyway.

[2015-05-23 21:08] gvwilson commented on #242
Allow sub-headings, but warn when there are more than 3-4 in a topic file.

[2015-05-23 21:09] gvwilson commented on #242
Require a section at the start of each topic giving an example of what the learner will be able to do after the topic has been covered (which will also help people decide whether they can skip it).

[2015-05-23 21:52] rgaiacs commented on #242
@gvwilson Can we create one issue for each change and make it with "Discussion" and "5.4"?

[2015-05-23 22:03] gvwilson commented on #242
I strongly prefer to keep all the discussion here until we know what
we're doing - it means there's just one place for people to look.

[2015-05-24 17:06] jevbelikov commented on #242
Could add a differently styled call-out for warning/common source of mistakes (thinking of O'Reilly books' trap symbol).

[2015-05-25 04:09] rgaiacs commented on #242
Improve the navigation between topics, i.e. have "next" and "previous" links.

[2015-05-25 04:10] rgaiacs commented on #242
Option for download the lesson as EPUB (for off-line reading).

[2015-05-25 04:11] rgaiacs commented on #242
Option for download the lesson as PDF (for printing). **Good formatting for printing isn't easy to accomplished but we could at least provide a reasonable PDF for instructors/learners that want to print the lessons.**

[2015-05-25 04:48] chendaniely commented on #242
There are usually options to print to PDF these days, and from the print preview, the lessons don't look too bad.  What special formatting would be needed for pdfs?

[2015-05-25 13:04] rgaiacs commented on #242
Translation guidelines and support. See https://github.com/swcarpentry/python-novice-turtles/pull/7.

[2015-05-25 13:12] rgaiacs commented on #242
@chendaniely Firefox, Chrome and, **I think**, Safari support create PDF from HTML pages. We just need a few improvements in our CSS for make this better. What happens is that we are breaking the lessons in small topics (e.g. the Git lesson doubled the number of HTML files for 5.3) and this makes hard for learners and instructors print all the lesson(s). Having a PDF will make printing very easy f

[2015-05-25 13:55] tbekolay commented on #242
It would be helpful for this `lesson-template` repo to have HTML pages that give some assistance to lesson maintainers that we can see at http://swcarpentry.github.io/lesson-template/ . It would be nice to have a single place where maintainers can consolidate our collective wisdom.

Another useful thing to have rendered there is an example of what all our CSS classes look like. Would make it easie

[2015-05-25 13:58] tbekolay commented on #242
This is a minor point that would take seconds to fix, but: I really dislike Courier New, which is the default on Linux. [Inconsolata](https://www.google.com/fonts/specimen/Inconsolata) is available through Google Webfonts and would be a good replacement.

[2015-05-25 14:09] tbekolay commented on #242
Right now our code blocks syntax highlight based on the language. It would be helpful also if the language that the code represents was rendered somewhere too. In Python's [command-line lesson](http://swcarpentry.github.io/python-novice-inflammation/10-cmdline.html) we have a callout to say that certain code blocks are bash now; if we had the language rendered somewhere (but not too glaringly) it

[2015-05-25 14:22] tbekolay commented on #242
It'd be nice to check for more HTML-output-related things in our unit testing. There are tools like [html-proofer](https://github.com/gjtorikian/html-proofer) for this, but mostly I notice that when I serve the page with `python -m SimpleHTTPServer` I see a lot of 404s.

[2015-05-25 14:23] gdevenyi commented on #242
The lesson validator should have a bit more helpful of an output explaining what's wrong and why (including snippits/arrows showing where the problem is)

[2015-05-25 14:27] tbekolay commented on #242
Some additional tools to help lesson maintainers keep up-to-date with shared files would be nice. Some possibilities:
- Add a `make update`, which would do the necessary `git` wrangling to update the stuff in `_includes`, `_layouts`
- Have the `make update` script output a changelog, saying what's changed since last you updated (in case the lesson maintainer needs to update pages due to changes in

[2015-05-25 14:28] gdevenyi commented on #242
The main lesson page should have a "cite me" section or other such information, since we now have proper publications.

[2015-05-25 14:29] gdevenyi commented on #242
@tbekolay The issue with remote hosting of the CSS is the risk of catastrophic failure of rendering for forked lessons that don't get updated with major layout changes.

[2015-05-25 14:32] tbekolay commented on #242
@gdevenyi How many backwards-incompatible changes get introduced in CSS? I would think that we probably already have these issues when people update because they don't actually look at the diff to know what changed.

[2015-05-25 14:43] gdevenyi commented on #242
@tbekolay I think the problem will end up being "we don't know" If we were to introduce such a change, anything forked after that point could be broken simply by the slow drift of the CSS changes as they accumulate over time.

[2015-05-25 14:53] ChristinaLK commented on #242
+1 to prev/next (and up) links (i might even be willing to take this on.)
+1 to location for maintainers to store collective maintenance knowledge (how often to update html, how to resolve contentious issues/PRs, etc.)

Differentiate between "concept" exercises like multiple choice questions and "practical" exercises that involve doing something w/ the lesson data or implementing a piece of code.

[2015-05-25 14:58] tbekolay commented on #242
@ChristinaLK I like this idea a lot! How about a file like `roadmap.md` in each repository? It can list basically where we've been (things that have been discussed and won't change) and where we're going (things we want people to discuss / work on).

[2015-05-25 15:08] abbycabs commented on #242
Small suggestion:I think it would be useful to have the maintainers info for that repo in the README or CONTRIBUING.

(did not read whole thread...)

[2015-05-25 15:11] gvwilson commented on #242
What do you have in mind for 'maintainers info'?

[2015-05-25 15:18] abbycabs commented on #242
At the very least, who the maintainers are. Maybe a way to reach out if new contributor has a question.

I know this is all listed on the website, but it takes some digging and isn't immediately intuitive to a new contributor browsing the through the repo.

[2015-05-25 16:01] chendaniely commented on #242
@r-gaia-cs since the lessons are already in `html` files, can we have a button that will `show all on one page`?  I'm not sure what that would entail, but that would make things much more flexible for the future?

[2015-05-25 16:25] iglpdc commented on #242
I'm a big fan of some of the changes proposed. In particular, I'd love this:

[2015-05-25 16:26] iglpdc commented on #242
Rethink the use of the motivation slides and redesign accordingly. Are they meant to
- open the lesson,
- open the workshop, as a teaser for the things to come,
- not be used in a workshop, i.e. as an elevator pitch to hosts?

[2015-05-25 16:26] iglpdc commented on #242
Decide what to do with the extra materials, in particular what should be in `discussion.md` and how should be written. The big risk I see is to bloat the lessons, and end up with 5-hour beasts that are impossible to teach in a workshop.

[2015-05-25 16:30] gvwilson commented on #242
Or should we get rid of the motivation slides entirely?  Nobody seemed
excited about creating them, and I don't know if anyone's actually using
them.

[2015-05-25 16:35] tbekolay commented on #242
I'm +1 removing the motivation slides. When teaching, I either ask the students why they wanted to learn this, or use my own personal experiences as a motivator. The times I've seen these motivation slides presented, it either preaches to the choir or gets people defensive.

As a practical side-effect, it would greatly reduces the burden on our shared files ;) No need for deck.js or  the slides la

[2015-05-25 16:36] iglpdc commented on #242
Keep a meta-repo of lessons. This could be simply a table with all our lessons, with links to the repos and html versions, and a short description of their intended use. E.g. (links are broken)

| Lesson | Short description | Duration | Long description |
| --- | --- | --- | --- |
| [git-novice](https://github.com/swcarpentry/git-novice) | Novice lesson on Git | 3 hours | This is part of our core

[2015-05-25 16:40] iglpdc commented on #242
What about moving the slides for the core lessons to their one repo (e.g. `pitch-core-curriculum`)? If the only use is to pitch outside workshops, it makes sense that they are together.

This removes deck.js from the lessons themselves and we don't throw away the work we already have.

[2015-05-25 16:42] gvwilson commented on #242
http://software-carpentry.org/lessons.html is meant to be the index of
lessons.

[2015-05-25 16:47] wking commented on #242
On Mon, May 25, 2015 at 08:18:35AM -0700, Abigail Cabunoc Mayes wrote:

I think we already have a framework for this.  See #195, #223,
swcarpentry/lesson-example#2, and [1](https://github.com/swcarpentry/lesson-example/tree/aaf6da60a4750e40983c6e5afd274dd83296431e#maintainers).

I think we have a framework for this too.  See [2,3].

[2015-05-25 16:48] chendaniely commented on #242
Can we also add a part on how to get started on your own? Something similar to my blog post about this: http://chendaniely.github.io/blog/2015/05/05/getting-started-with-data-science/

[2015-05-25 16:50] iglpdc commented on #242
Ok, but I was thinking something for instructors and hosts. Now that we have only three topics, I expect the last half-day to be fill with different capstone projects (we have some already). When building a workshop, I'd like to have, for both the instructor and the host, a place where we could see all the stuff we have available (say, a capstone project for oceanographers in R.)

I think the link

[2015-05-25 16:51] tbekolay commented on #242
@wking: The fact that few of us know about these is evidence that this information needs to be put somewhere else. Most of us maintainers only know about what's in our own repositories. Any information that we think people using the lesson should know about should be in our own repositories. Information that all maintainers need to know about should also be in a single place; if it's `lesson-examp

[2015-05-25 18:07] wking commented on #242
On Mon, May 25, 2015 at 09:52:00AM -0700, Trevor Bekolay wrote:

Agreed, which is why I've been suggesting standard release procedures
for this repository and the associated lesson-example (#76), with
tagged releases, lists of user visible changes, migation notes, etc.
I've also suggested we store the maintainer-oriented docs somewhere
that will show up in the downstream lesson repositories (#215)

[2015-05-25 18:56] daisieh commented on #242
I'd love it if there were a simple way to generate a quick slide deck from the lessons, maybe with just the images and code snippets. Obviously most of us use live coding for the lessons, and that's fine, but I'd love for there to be a simple way for me to put up, for example, the diagrams from the Git lesson on a projector when I'm discussing those parts.

[2015-05-25 19:13] rgaiacs commented on #242
Yes. My patch cover it. As I mention I just need to clean it.

[2015-05-25 19:15] gvwilson commented on #242
What I want most is to be able to use Jekyll rather than Pandoc, but none of Jekyll's Markdown parsers seem to support styles on title lines or pre-formatted blocks.

[2015-05-25 20:12] chendaniely commented on #242
@daisieh: I typically draw the git diagrams as I teach part by part and by the end of the 3 hours it looks like this [1].  I mostly rely on the git notes to make sure what the next command I need to cover and use the command as a prompt for my narrative while teaching.

For workshops that do not have a whiteboard, i open up one of my twitter images and refer to that picture.  This way the students

[2015-05-25 20:41] iglpdc commented on #242
For the record, there is a link to one of @chendaniely 's diagrams in 5.3 version of the Git instructor guide.

[2015-05-26 00:19] daisieh commented on #242
@chendaniely: The diagrams in the lessons [1] are a bit more complex than a concept map, but serve much the same purpose. I designed them as a series that build on each other, so for those who don't want to draw as they go, they're in the lesson now, but it'd be nice if one didn't have to make a slide deck every time out of them.

[1] https://github.com/swcarpentry/git-novice/blob/gh-pages/fig/git

[2015-05-26 03:04] abought commented on #242
While my initial instinct would be to suggest something tooling-related, the truth is that lessons are still evolving. I'd like to look at how our current template restrictions are working out for lesson maintainers, adding more options (eg callouts) or relaxing rules (like headings) as appropriate.

If we did add tooling, it'd be nice to prompt users for metadata up front (in a bower-style lesson

[2015-05-26 03:25] rgaiacs commented on #242
We don't have syntax highlight. We mark the code blocks with the language
because (1) it will make our life easy in the future if we want to have syntax highlight
and (2) make clear on Markdown what the code block is.

[2015-05-26 03:34] rgaiacs commented on #242
I and @gvwilson discussed it a lot. @gvwilson is -1 to server CSS from a third party address because this will make that to preview the lessons people needed to be connected to the internet and sometimes instructors edit the lessons on airplanes and airports.
I already suggested many alternatives/workarounds, e.g.
change the address on compilation time,
change `/etc/hosts` when needed, ...
but @gv

[2015-05-26 06:58] abostroem commented on #242
+1 to navigation
-1 on removing the motivation slides. As a new instructor it can be helpful to see how people motivate a lesson.
+1 to maintainers guide. Ideas to include:
    \* merging pull requests. Is the procedure merge PR, update local copy, regenerate html, push to repo?
    \* A direct link to the lesson template slide show that explains everything (this may be an issue of making it more

[2015-05-26 06:59] abostroem commented on #242
Solutions to all exercises (including an explanation of what instructors should be highlighting in each exercise). @PBarmby has already started for python

[2015-05-26 07:01] abostroem commented on #242
I would like links in the README for the swcarpentry github page to the most used lesson repos (or currently maintained).

[2015-05-26 12:19] rgaiacs commented on #242
I want to use HTML [details](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) element for this. My suggestion is write

[code]

and have a filter so that Pandoc convert it to

[code]

[2015-05-26 14:24] jdblischak commented on #242
I like how the Shell and Python lessons now have an option to download the data set as a zip file. I'd like to have documentation in lesson-example for how best to do this so that all our lessons can easily provide this.

[2015-05-26 19:39] douglatornell commented on #242
+1 to allowing sub-headings

[2015-05-26 19:47] douglatornell commented on #242
Bring back reference guides for lessons where they are appropriate. Examples from the bc repo lessons:
- [shell](https://douglatornell.github.io/2014-09-25-ubc/novice/ref/01-shell.html)
- [mercurial](https://douglatornell.github.io/2014-09-25-ubc/novice/ref/02-hg.html)
- [python](https://douglatornell.github.io/2014-09-25-ubc/novice/ref/03-python.html)

This is perhaps not important for day-of-the

[2015-05-26 20:35] wking commented on #242
On Tue, May 26, 2015 at 12:47:53PM -0700, Doug Latornell wrote:

There's something like in references.md [1,2,3].  I'd
recommend we separate the cheat-sheets from the glossary though, since
those seem like suitably distinct ideas.

[2015-05-26 21:02] douglatornell commented on #242
Yep, it's the cheat-sheets aspect of the bc repo reference guides that I'm advocating for, and it's totally fine with me to separate them conceptually and/or storage-wise from the reference.md file material in the present lesson structure.

[2015-05-27 07:17] IsaKiko commented on #242
Suggested changes for MATLAB
- Include a debugging lesson
- Maybe switch functions and conditionals lessons

[2015-06-01 14:28] gvwilson opened #244 "Remove extra space at end of prerequisite blocks"
It looks like there's too much space after the bullet list in this prerequisite block:
![screen shot 2015-06-01 at 10 27 37 am](https://cloud.githubusercontent.com/assets/911566/7915045/f054a916-0848-11e5-92c6-3703ce0f25d0.png)

[2015-06-01 15:55] richford commented on #69
PR #243 addresses this issue. However, I didn't add anything to run `tools/check` before each commit. Would love to get more feedback, though I realize this is a deferred enhancement so it might have to wait until the next release.

[2015-06-07 10:21] gvwilson commented on #46
Is this still live?

[2015-06-07 10:22] gvwilson commented on #52
Can we please add a check to the validator to make sure the footer link points to the right repo?

[2015-06-07 10:22] gvwilson commented on #60
Is this one still active?

[2015-06-07 10:23] gvwilson commented on #62
@DamienIrving can we close this one?

[2015-06-07 10:23] #72 closed, assigned to nobody

[2015-06-07 10:23] gvwilson commented on #76
Which bits of this should go into the README for this repo?

[2015-06-07 10:28] gvwilson commented on #79
Fixed by https://github.com/swcarpentry/lesson-example/pull/8

[2015-06-07 10:28] #79 closed, assigned to nobody

[2015-06-07 10:28] gvwilson commented on #120
@r-gaia-cs @abought progress on this?

[2015-06-07 10:29] gvwilson commented on #130
@abought any chance to work on this?

[2015-06-07 10:33] DamienIrving commented on #62
@gvwilson It was never really addressed. If I scroll through the repos at https://github.com/swcarpentry and come across https://github.com/swcarpentry/python-novice-turtles for instance, I have no way of knowing whether it's a mature lesson that has been used in over 200 workshops or one that people are working on but has never actually been used in a workshop.

I still think we probably need a s

[2015-06-07 10:34] gvwilson commented on #148
Fixed in https://github.com/swcarpentry/lesson-example/commit/398e6888904491053c50d91f8060593f7e75829f

[2015-06-07 10:34] #148 closed, assigned to nobody

[2015-06-07 10:34] #199 closed, assigned to nobody

[2015-06-07 10:35] gvwilson commented on #220
Resolution is to allow sub-headings.

[2015-06-07 10:35] #220 closed, assigned to nobody

[2015-06-07 10:35] #224 closed, assigned to nobody

[2015-06-07 10:35] gvwilson commented on #227
Added notes to all the repos with pointers to lesson-example.

[2015-06-07 10:35] #227 closed, assigned to nobody

[2015-06-07 10:35] #241 closed, assigned to nobody

[2015-06-07 11:18] gvwilson commented on #62
Gotcha - I thought the list on
http://software-carpentry.org/lessons.html was enough, but hadn't
thought of people looking up lessons on GitHub.  There doesn't appear to
be a built-in way to label repositories on GitHub (like Flickr image
tags) - you know of anything else that would show up on GitHub itself?

[2015-06-07 12:43] rgaiacs commented on #120
@gvwilson Nope. And I will only be available to work on this next month. =(

[2015-06-07 12:54] rgaiacs commented on #46
@gvwilson you can close and I will create another issue/pull request when I back to work on this.

[2015-06-07 13:05] fmichonneau commented on #120
If it helps @kbroman wrote a Ruby script that does that https://github.com/karawoo/2015-04-27-wsu/blob/gh-pages/syllabus/slides/grab_challenges.rb

[2015-06-07 13:09] #46 closed, assigned to abought

[2015-06-07 13:09] gvwilson commented on #120
Cool - I'll grab that.

[2015-06-07 17:20] wking commented on #76
On Sun, Jun 07, 2015 at 03:23:51AM -0700, Greg Wilson wrote:

I've argued for a stub README in this repository, with _all the docs_
for the template in a subdirectory (#215).  So that's how I'd
recommend handling this too.  There may be both
lesson-template-maintainer and lesson-template-consumer
(i.e. lesson-maintainer) versions of the “how to handle
lesson-template releases” docs, in which case

[2015-06-07 17:28] wking commented on #62
On Sun, Jun 07, 2015 at 03:33:13AM -0700, Damien Irving wrote:

Do we collect stats on how frequently a particular lesson has been
taught.  Or how much the instructor customized it?  The former is
probably [1](https://github.com/swcarpentry/lesson-template/issues/62#issuecomment-67099131), but the latter may be difficult to track.

For this sort of maturity information, change logs with release da

[2015-06-07 20:42] twitwi commented on #60
This can be closed as @r-gaia-cs imported my changes in https://github.com/swcarpentry/lesson-template/commit/e22aa93637d9ca8aad4657cf1252a541c7a4dea1

[2015-06-07 20:42] #60 closed, assigned to nobody

[2015-06-07 20:54] twitwi opened #246 "Remove duplicate deck.js files"
There seem to be multiple versions of slide-related javascript and css.
Here is my guess on what these are and what should be checked then removed:
1. [ ] check that the deck.js/ folder is not used anymore (it is the old version used the first time)
2. [ ] check that the js/ folder is not used anymore (the folder contains 3 files that were used after the above ones)
3. [ ] check that the css/slide

[2015-06-07 20:59] twitwi commented on #246
point 2 above actually requires to update the _layout for the slides (that currently use the js/ version) to use the version coming from the "styles" repository and located in css/deck.js

[2015-06-08 01:43] abought commented on #130
This one fell off the radar. My initial instinct would be to check this every time it runs (for people pulling a pre-existing repository). I'll also take a look at how other pre-existing setup code (like the SWC installer) integrates with git tooling to see if there's any overlap.

[2015-06-08 02:01] abought commented on #52
Can someone confirm how we are currently determining repo location? #97 seems closed, and I'm not seeing, eg, a config.yml file.

[2015-06-08 12:24] gvwilson opened #248 "Remove the Legend section"
Nobody's sure what to do with it, and the warmup for the running example in each lesson goes better in index.md.

[2015-06-08 12:25] gvwilson opened #249 "Allow level-2 sub-headings within topic files"
But discourage their use, since anything long enough to need sub-headings should be broken into smaller pieces.

[2015-06-08 12:25] gvwilson opened #250 "Add a callout-style for "common mistakes" or "warnings""
Similar to those used in O'Reilly books and elsewhere.

[2015-06-08 12:25] gvwilson opened #251 "Add next/previous links between topics and other files."

[2015-06-08 12:26] gvwilson opened #252 "Generate a single-page version of the whole lesson."
This should be HTML, PDF, eBook, etc.

[2015-06-08 12:26] gvwilson opened #253 "Add translation guidelines and support."

[2015-06-08 12:26] gvwilson opened #254 "Add a page showing what all available styles look like."
This should probably go in lesson-example rather than lesson-template.

[2015-06-08 12:27] gvwilson opened #255 "Add more pointers to the FAQ so that lesson maintainers know where to accumulate wisdom."

[2015-06-08 12:27] gvwilson opened #256 "Use Inconsolata instead of Courier New for code."

[2015-06-08 12:27] gvwilson opened #257 "Add something to code blocks to say what language they're in."
This isn't a request for syntax highlighting, but rather some sort of icon or marker to say, "This is a Bash script", "This is program output", "This is Perl".

[2015-06-08 12:28] gvwilson opened #258 "Add more checks for broken links to validator"
Do these on the generated HTML, not the Markdown.

[2015-06-08 12:28] gvwilson opened #259 "Validator should show snippets and line numbers to give context for errors."

[2015-06-08 12:28] gvwilson opened #260 "Add "make update" to update from template"
Have it produce a change log from the Git history.

[2015-06-08 12:28] gvwilson opened #261 "Add information on how to cite lessons."
Add a "how to cite me" section to each lesson's index.md and a CITATION file to each lesson's repo.

[2015-06-08 12:29] gvwilson opened #262 "Add the current maintainers' contact info to the CONTRIBUTING.md."
Or have a lesson-name@software-carpentry.org mail forwarder for each lesson?

[2015-06-08 12:29] gvwilson opened #263 "Add notes on discussion to date to CONTRIBUTING.md"
Add a section to CONTRIBUTING.md summarizing discussion to date of what not to change in the lesson (so that old arguments aren't rehashed).

[2015-06-08 12:29] gvwilson opened #264 "Move content of motivation slides to instructors.md"
Move the motivation slides to the slideshows repo, but keep the content (in prose form) at the start of instructors.md to show new instructors how to motivate a lesson.

[2015-06-08 12:30] gvwilson opened #265 "Generate slideshow or single-page display of all images"
Have a tool to generate a single-page slideshow (or just a single HTML page) with one image per slide so that instructors can easily show them off when live coding.

[2015-06-08 12:31] gvwilson opened #266 "Add a link to "how to get started on your own""
Add a link to a "how to get started on your own" section (like [Daniel Chen's post](http://chendaniely.github.io/blog/2015/05/05/getting-started-with-data-science/)) on the main Software Carpentry website (probably the lessons page).

[2015-06-08 12:31] gvwilson opened #267 "Add solutions to all challenges."

[2015-06-08 12:31] gvwilson opened #268 "Document how to create a ZIP of necessary files and where to store it"
Add documentation to lesson-example explaining how to create a downloadable ZIP of data files required for a particular lesson and where to archive it (so that we all do it in the same way).

[2015-06-08 12:32] gvwilson opened #269 "Add links to reference guides to main SWC web site"
Add links to each lesson's reference guide to the main web site (again, probably the lessons page), and make sure those print nicely.

[2015-06-08 12:33] gvwilson commented on #242
These comments now filed as separate issues for Version 5.4

[2015-06-08 12:33] #242 closed, assigned to nobody

[2015-06-08 15:19] aammd opened #270 "Have make check for recent knitr versions on R lessons"
As pointed out by @sritchie73 in swcarpentry/r-novice-gapminder#42,  presently the `MAKEFILE` doesn't check for recent versions of knitr. He has a [solution](https://github.com/sritchie73/r-novice-gapminder/commit/7d92fce8cc5f079f96d37f2a4f498832c423aba0) to this problem (from swcarpentry/r-novice-gapminder#41). However, our makefile hasn't been modified to run this script. I understand that chang

[2015-06-08 16:14] fmichonneau commented on #270
I created a PR for this: https://github.com/swcarpentry/lesson-template/pull/271

I put the check in the Makefile with the rule to build the Rmd files such that lessons that are not R-based don't have to worry about it. If there is a better approach, don't hesitate to let me know.

[2015-06-08 17:25] wking commented on #262
I have trouble imagining feedback folks would want to send maintainers
that wouldn't be appropriate for a GitHub issue.

And the current maintainer listing is in README.md [1](https://github.com/swcarpentry/lesson-template/issues/195#issuecomment-89643048), so that's
where I'd suggest putting any additional maintainer information if we
do want to add it.

[2015-06-08 17:29] wking commented on #268
On Mon, Jun 08, 2015 at 05:31:42AM -0700, Greg Wilson wrote:

I've recommended managing such data in it's own Git repository and
pointing folks at the “Download Zip” link GitHub shows on every
repository's homepage [1,2].  For links into previous discussion in
this vein, see [3](https://github.com/swcarpentry/shell-novice/issues/62#issuecomment-73101968).

[2015-06-09 21:04] gvwilson commented on #52
I shell 'git remote -v' and find the line with 'origin' and 'fetch' and
extract the URL.  Clumsy but effective, and doesn't require any
Python-Git libraries.

[2015-06-09 22:33] DamienIrving commented on #62
@gvwilson No, I don't know of any way to label it directly on GitHub (it would be nice if there were labels like for GitHub issues).

Perhaps we should just have some standard language that gets added to `index.md`? It could be:
- `lesson status = construction phase (not yet ready for use at a workshop)`
- `lesson status = trial phase (we are looking for instructors to trial this lesson at a works

[2015-06-10 01:05] rgaiacs commented on #52
I prefer add something to `Makefile` because `git remote -v` will not work for me since I have only one directory named `lessons` with all our lessons.

[2015-06-10 01:26] gvwilson commented on #62
A suggestion made a while back was to have a header value in `index.md`
for status, and use that to (for example) colorize the background of the
page using CSS.

[2015-06-10 21:20] gvwilson commented on #269
Replaced by https://github.com/swcarpentry/site/issues/991

[2015-06-10 21:20] #269 closed, assigned to nobody

[2015-06-12 03:03] abought commented on #120
I'm going to build on the script from #247, with some filename handling improvements.

Is there any preference on filename / format conventions for the output? If people are doing anything special to render/display the individual challenge files, I can add post-processing to make this as convenient as possible for our instructors.

[2015-06-15 12:49] chendaniely opened #274 "Lesson Meta documentation"
Maybe this belongs on the website issues tab, but I propose some kind of meta documentation for people who have not attended our workshops on how to navigate the lessons.  I've had many friends come to me on 'where should I go to learn x' and I almost always direct them to SWC lessons, and give them a blurb on how to go through the installations and lessons.  I've written a blog post about it: htt

[2015-06-15 16:47] rgaiacs commented on #274
We will try to address adding "Next" and "Previous" links to our lessons before August.

[2015-06-17 02:45] abought commented on #52
If we're basing it on remote names, we may want to defer this until the move to a single known build environment (eg jekyll on github) is done. Not everyone is guaranteed to name their remote `origin`, which could lead to bad links being committed when people rebuild HTML locally.

(Actually, I name my SWC remote `upstream` and my fork `origin`. So, yeah...)

Otherwise, can have validator check `_

[2015-06-24 17:52] gdevenyi commented on #262
-1 for contacts other than github. I'd like to keep my communications confined to as few mediums as possible.

[2015-06-24 18:01] gdevenyi commented on #62
+1 for adding a colorize tool in the CSS, this would be obvious on any page someone views. This would also put the control in the hands of the author for when they think "its ready".

If this were implemented the questions I have are:
- what is the default colour for the css, should be be "not ready" until a switch is flipped?
- should the lesson-template be set to default "not ready"

[2015-06-24 18:02] gdevenyi commented on #256
+1 favourite fixed-width font.

[2015-06-24 20:57] rgaiacs commented on #251
Prototype at https://r-gaia-cs.github.io/using-jekyll/01-one.html.

![screen shot 2015-06-24 at 17 56 15](https://cloud.githubusercontent.com/assets/1506457/8341299/59bbd89e-1a9a-11e5-99a7-c46a9c1de17c.png)

[2015-06-24 23:44] rgaiacs commented on #242
**Please hold any change before we have a final answer for http://software-carpentry.org/blog/2015/06/using-jekyll-for-lessons.html**.

[2015-06-25 14:39] gvwilson opened #276 "Modify tools/check.py to work with Markdown that has trailing style specifications."
In order to convert from Pandoc to Jekyll, we need `tools/check.py` to parse Markdown that has Kramdown's trailing style markers:

[code]

and similarly for code.

[2015-06-25 14:40] gvwilson opened #277 "Modify build process to turn R Markdown into Markdown with trailing styles"
In order to convert from Pandoc to Jekyll, we need to modify the build process to turn R Markdown into plain old Markdown with trailing styles:

[code]

and similarly for code.

[2015-06-25 14:41] gvwilson opened #278 "Modify build process to turn Jupyter Notebooks into Markdown with trailing styles"
In order to convert from Pandoc to Jekyll, we need our build process to generate plain old Markdown with trailing style specifications:

[code]

and similarly for code.

[2015-06-25 15:17] gvwilson commented on #251
Good start - can you figure out how to put a list of pages in
_config.yml in such a way that we can access that inside an HTML
template to figure out what 'prev' and 'next' should link to?  If we
were generating a blog, we'd get 'page.previous.url' and 'page.next.url'
automatically, but we're not...

[2015-06-25 15:31] aaren commented on #278
I could probably add a `swc` flag to [notedown](https://github.com/aaren/notedown) that generates the appropriate markdown from a notebook.

Something like

[code]

Then call it from the Makefile similar to how Rscript is called now.

You then have a notedown dependency, but it's a single `pip install` away. Thoughts?

[2015-06-25 16:12] gidden commented on #276
Clarification question: is the goal to allow writing in both Kramdown and Pandoc markdown or only allow writing in Kramdown? A third option would be to still write only in Pandoc markdown and use a Jekyll plugin to support it.

[2015-06-25 16:42] gvwilson commented on #276
Just Kramdown - we can't use Jekyll plugins on GitHub.
Cheers,
Greg

On 2015-06-25 12:12 PM, Matthew Gidden wrote:

##

Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2015-06-25 16:45] rgaiacs commented on #251
Why do you want to add this list in _config.yml if we don't need it?

We are talking about two different things here and I think that we need two different solutions. One for the lessons and another one for the website.

[2015-06-25 17:31] rgaiacs commented on #278
@aaren Based on http://lists.software-carpentry.org/pipermail/discuss_lists.software-carpentry.org/2015-June/003127.html, can you wait a few days before start working on this?

You can restore the workflow from https://github.com/swcarpentry/bc/. Take a look at https://github.com/swcarpentry/bc/blob/gh-pages/Makefile for understand the workflow and make changes at https://github.com/swcarpentry/bc

[2015-06-25 17:31] rgaiacs commented on #276
@gidden  Based on http://lists.software-carpentry.org/pipermail/discuss_lists.software-carpentry.org/2015-June/003127.html, can you wait a few days before start working on this?

[2015-06-25 17:56] abought commented on #276
@gidden, it's also worth nothing that CommonMark 0.5.4 (our current parser) doesn't recognize either old-style pandoc _or_ new-style Jekyll/Kramdown styles. If we do change the build process (or even if not), then my preference would be to move to a appropriate parser for the chosen markdown spec rather than continue working around unrecognized syntax.

I'm starting to look around for recommendati

[2015-06-25 17:59] gvwilson opened #279 "Should we switch to Jekyll for our lessons?"
This issue continues the discussion started in http://lists.software-carpentry.org/pipermail/discuss_lists.software-carpentry.org/2015-June/003118.html - please add further comments on that thread here. In particular, please read [this post](http://lists.software-carpentry.org/pipermail/discuss_lists.software-carpentry.org/2015-June/003127.html) from @jdblischak on us having come full circle, and

[2015-06-25 18:02] abought commented on #262
Interesting idea, but I'd like to see a few use cases first. Agree with @wking that public github issues would offer more context and accountability.

If we do want an email contact route, my preference would be for the group address, to ensure a fast response from whoever of the group was free.

[2015-06-25 18:03] gvwilson commented on #251
I'm thinking about the lessons - we can guess the order of 01-_.html,
02-_.html (because they're named that way on purpose), but what about
the non-numeric files?

[2015-06-25 18:33] gidden commented on #276
Thanks for the input, all. I was just starting to investigate the problem to see if I understood enough to tackle it -- no code written, etc. Happy to hold on this.

[2015-06-25 18:40] abought commented on #276
I have a branch demonstrating a (partial) conversion to pandocfilters, building on initial proof of concept by @r-gaia-cs . The validator has at least some abstraction around the CommonMark ast to reduce the work of conversion, but the QA effort got sidetracked, then waylaid as we started to talk about moving to a different build system.

https://github.com/abought/swc-lesson-template/tree/pandoc_

[2015-06-25 20:32] aaren commented on #278
@r-gaia-cs good point! I'd forgotten that notebook-> markdown was easy with nbconvert - that's a better solution. (notedown's main value is markdown -> notebook).

[2015-06-25 20:59] rgaiacs commented on #251
Right now the non-numeric files are
- `index.md`,
- `reference.md`,
- `discussion.md` and
- `instructors.md`.

We can embed in the logic the order you want. After the last numeric file you want
`reference.md` followed by `discussion.md` and `instructors.md`, correct?

[2015-06-25 21:16] gvwilson commented on #251
I _think_ so, but now I'm curious: how do we override page.previous and
page.next?

On 2015-06-25 4:59 PM, Raniere Silva wrote:

##

Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2015-06-25 22:48] cryptarch commented on #279
From the email discussion, I have a problems with @r-gaia-cs's defence of pandoc. Pandoc (and therefore R Studio) are not available in Arch Linux; even their Arch User Repos are broken. I've had serious problems contributing to R material and helping at R-based workshops because of this.

You might think, well, that's just one distro. However, it is an important and popular distro, and this proble

[2015-06-25 23:10] ocefpaf commented on #279
Just to be clear, regarding my comment in the mailing list, if people need pandoc we can remove the burden of creating the HTML using `Travis-CI`.  Travis-CI does comes with a cost though.  (Complex configs, unexpected broken builds, convoluted token generation, etc.)  On the other hand, if people are OK leaving pandoc behind I do believe Jekyll is a better option.

PS: On an ~~un~~related note :s

[2015-06-25 23:12] rgaiacs commented on #279
R Studio isn't available in others popular distro repositories. Users need to install it using the package provide at http://www.rstudio.com/products/rstudio/download/. Pandoc has similar issue and the package is provided at https://github.com/jgm/pandoc/releases.

I can try maintaining Pandoc for Arch after the summer.

<del>I think this is true for any program.</del>

I understand your point and

[2015-06-25 23:22] cryptarch commented on #279
Haha, that would be awesome, although I don't think it will fix my underlying beef with Haskell, since I've also had xmonad break too many times ;)

But this can be done per-user with gems. I've never had any problems with anything based on Ruby.

[2015-06-26 03:41] cboettig commented on #279
At @gvwilson 's suggestion, posting my comments on kramdown here:

---

 tl;dr use redcarpet instead of kramdown.

If we tell people they can "use markdown" they probably think Github-flavored markdown, e.g. that they write fenced code blocks with language indicated:

[code]

which is identical to pandoc, and thus familiar to RStudio users and all existing lessons in pandoc.  I suspect users will

[2015-06-26 07:49] aaren commented on #279
One benefit of the new approach is that you can fork a lesson and make changes without leaving the browser, using Github's inbuilt editor.

I forked Greg's example repo and added some content, all using the browser: see https://github.com/gvwilson/using-jekyll/pull/3

This makes collaboration very easy.

[2015-06-26 07:58] aaren commented on #279
@cboettig I don't like trailing styles either, but it appears that you can still specify the language of the code block as in GFM: http://kramdown.gettalong.org/syntax.html#language-of-code-blocks

[2015-06-26 08:25] aaren commented on #279
@cboettig I looked at the code blocks a bit more. tldr: we can use the Kramdown GFM parser.

The default kramdown parser doesn't support backtick fences. It has a GFM parser (disabled but available by default) that does support them, and still appears to support trailing styles for the blockquotes (callouts etc.) - it does need hard wrapping disabling though. `_config.yml` needs to look like [this

[2015-06-26 11:20] gvwilson commented on #279
But blockquotes are much rarer than code blocks, so if we can style code
blocks as most people are expecting, that will be a big help. I'll push
a change to the using-jekyll repository to show this and see what people
think.

[2015-06-26 20:11] gvwilson commented on #279
Can we specify our own styles for code blocks on the opening line? In
particular, can we specify 'out' and 'err' for stdout and stderr
output?  Learners really like having these colorized so that they can
tell what we type in from what the shell, SQLite, and other tools spit out.

[2015-06-26 20:48] cboettig commented on #279
@gvwilson The notation

[code]

in this setup will just make html like

[code]

so you could just define CSS for that class to code it as input.  Output and error messages would have to be explicitly indicated as such in the markdown.

@gvwilson curious about your thoughts on syntax highlighting.  I think SWC has opted primarily for just coding all input text in one color and output text in anothe

[2015-06-26 20:51] cboettig opened #280 "Jekyll migration -- layouts migration"
Note that the `_layouts`, `_include` etc are all currently written in pandoc style, e.g. using `$title$` instead of Liquid `{{ page.title }}`.

Not that we use complex templating, but this is an area where Jekyll is much stronger than pandoc since the liquid syntax is much more flexible.

[2015-06-26 21:12] gvwilson commented on #279
My concern is that if we turn on syntax highlighting and use a style
that isn't recognized as a language (e.g., `err`), it'll bork.  I
suppose I could just test it out...  Are you OK with the compromise of
"standard style for code blocks, trailing style for blockquotes"?
Thanks,
Greg

[2015-06-26 21:12] gvwilson commented on #280
Yup - the https://github.com/gvwilson/using-jekyll repo's gh-pages
branch has all of this patched.  (Didn't want to drop that into
`lesson-template` until we were sure we wanted to go this way.)  And
yes, Jekyll's templating may be frustrating at times, but it's a bucket
better than Pandoc's.

[2015-06-26 21:47] cboettig commented on #279
@gvwilson I'm okay with anything, I was just curious if the lack of syntax highlighting was based on theoretical objections or practical implementation ;-).

From my perspective, I imagine most people are familiar with how markdown looks and displays on Github, and so it seems ideal to emulate that as much as possible. redcarpet is essentially GFM, such that you can just drop in the github-light.c

[2015-06-29 15:17] twhitehead commented on #279
@cryptarch I'm a bit surprised your experience with Haskell has been so bad. Is this a general thing with Haskell itself or primarily related to the issues you have had with the xmonad package? I ask as, although I've never used xmonad myself, I wouldn't be surprised it was a bit touchy being a low level unconventional piece of software (i.e., a niche tiling window manager with compile time config

[2015-06-30 05:26] cryptarch commented on #279
@twhitehead It's been a few different things.

Part of it is just that Haskell package management in Arch Linux is a bit of a mess; as you can see [on the Arch wiki](https://wiki.archlinux.org/index.php/Haskell#Managing_Haskell_packages), there are multiple approaches which conflict each other. If you want the stability of the core repos, you suffer the price of not many packages, and even then I

[2015-06-30 23:29] #270 closed, assigned to nobody

[2015-07-04 18:00] iglpdc commented on #268
Do you think this is better than having a data folder per repo? It's easier for the students, but I feel it would be harder to maintain as changes in the lesson materials would require changes in these repo too.

[2015-07-26 10:21] Deborah-Digges commented on #267
I'd like to help out with this.
Which lesson would be a good one to get started with?

[2015-07-26 12:51] rgaiacs commented on #267
@Deborah-Digges The best one to start is the one you are interested to read. =)

[2015-07-26 13:46] Deborah-Digges commented on #267
Thanks @rgaiacs. I'd like to get started with the  make lesson, as I've recently read it. @mikej888 I'll send in an initial PR with the solutions for the challenges if that's alright with you.

[2015-07-26 14:29] rgaiacs commented on #267
Great. :sparkles:

This is a open source project so PR are always welcome. =)

[2015-07-27 06:13] Deborah-Digges commented on #267
This is an initial PR for the make lesson: https://github.com/swcarpentry/make-novice/pull/15

[2015-07-28 22:45] DamienIrving commented on #267
When I'm teaching I usually tell learners to go to the lesson site to view the challenges that they need to complete. I'm therefore wondering if we could keep the answers separate from the questions, so that learners can't see the answer directly under the question in the notes?

[2015-07-28 23:58] abostroem commented on #267
@PBarmby has already started this for the Python lessons. See https://github.com/swcarpentry/python-novice-inflammation/pull/99

[2015-07-29 01:29] Deborah-Digges commented on #267
@DamienIrving In the make lesson, I've added the solutions to the "Other Resources" section of the lesson and they look like [this](http://swcarpentry.github.io/make-novice/solutions.html). Is this close to what you had in mind?

[2015-07-29 01:32] DamienIrving commented on #267
@Deborah-Digges That is very much what I had in mind :smile:

[2015-07-29 01:55] weaverbel commented on #267
I think this is a good idea. Can I please suggest that not just the right answer be provided, but also a brief explanation as to why it's right and the others are wrong? I think that would help people. But maybe the answers could be hidden until they click so they don't see the answer before engaging with the challenge?
Also sometimes there is a little ambiguity, e.g. the Jennifer coding challenge

[2015-07-29 04:02] abostroem commented on #267
In the Python section many of the questions are not multiple choice. I would like to see a learning objective or goal for each exercise. What point is the lesson highlighting?

I would like to keep the answers in a separate document from the lessons.

[2015-07-29 06:06] andreww commented on #267
For the MCQ's it would also be useful for us to try to write down what errors or misconceptions the distractors are designed to diagnose. Doing this should help us design and improve the questions, as well as help instructors work out what has not been understood by the students.

[2015-07-29 07:16] twitwi commented on #267
I think it can be good for maintenance (keeping coherence) if we keep the solution very close to the challenge (and maybe use some styling/javascript to not show the solution in the main pages).

[2015-07-29 10:02] iglpdc commented on #267
+1 to this. It would be awesome if we could have the source together and have the choice to separate the output.

[2015-07-29 15:40] abostroem commented on #267
From a maintainer's perspective I think it makes a lot of sense to keep the solutions next to the challenges. From a learner's perspective/instructor's perspective I think (empirically) that students will struggle for a shorter period of time, are less likely to work out the answer on their own, and are less likely to ask the instructors or helpers for help if the solutions are immediately availab

[2015-08-24 19:29] twitwi commented on #267
I agree with not showing the solutions too easily to the learners.
We could use a “hidden” (only instructors would be told about it at first) trick, like adding `#instructor` to the URL, that would display the answers.
Maybe we can also think about folded "tips", that are accessible to the learners on demand.

[2015-12-11 20:57] jdblischak opened #285 "Rendering LaTeX equations in R Markdown files"
One nice feature of R Markdown is that it will render LaTeX equations ([syntax](http://rmarkdown.rstudio.com/authoring_basics.html)). We have a [PR](https://github.com/swcarpentry/r-novice-inflammation/pull/154) from @michaellevy to [r-novice-inflammation](https://github.com/swcarpentry/r-novice-inflammation) which includes a demonstration of this feature. However, the equation does not render pro

[2015-12-11 21:01] gvwilson commented on #285
+1 if someone smarter than me can figure out the Pandoc flags.

[2015-12-11 22:34] cboettig commented on #285
@jdblischak  Well, notice that RStudio has pandoc using `--template /usr/lib/R/site-library/rmarkdown/rmd/h/default.html` .

Meahwhile, you seem to be constructing a rather different template with `_layout/page.html` and some `-Vheader` etc stuff from `_includes`.

Note that you won't just be able modify `_includes/header.html` directly from Pandoc/rmarkdown's default.html, because it that uses va

[2015-12-12 01:03] rgaiacs commented on #285
@jdblischak Thanks for create the issue.

This is related with https://github.com/swcarpentry/lesson-template/issues/121.

[2015-12-12 01:54] cboettig commented on #121
Relevant to the MathML vs JavaScript rendering: https://code.google.com/p/chromium/issues/detail?id=152430 , apparently still some technical challenges before even major browsers like chrome can properly support mathml.

Going with the CDN link seems pretty simple though, particularly since it seems offline use is if anything a developer issue in this context rather than a user issue?

[2015-12-12 04:01] rgaiacs commented on #285
@jdblischak and @michaellevy Could you check https://github.com/swcarpentry/lesson-example/pull/15 and let me know if is OK? If yes, I will merge https://github.com/swcarpentry/lesson-template/pull/286 and https://github.com/swcarpentry/lesson-example/pull/15.

[2015-12-16 20:05] jdblischak commented on #285
OK. Good to know there is general support for this. Sorry for the extra Issue. I searched the Issues for the term "equation", and surprisingly that word is never used in #121.

I did a test merge of your PR #286 and it properly renders the equation. +1 to merge into lesson-template.

I didn't actually test your PR to lesson-example, but from a quick glance it looks reasonable, too.

[2015-12-17 11:17] #285 closed, assigned to nobody

[2015-12-17 11:17] #121 closed, assigned to nobody

[2015-12-17 12:42] aaren commented on #121
:smile:

[2016-01-10 19:09] gvwilson opened #288 "Document use of update-copyright"
https://pypi.python.org/pypi/update-copyright/ should be mentioned in the lesson

[2016-01-10 22:13] wking commented on #288
On Sun, Jan 10, 2016 at 11:09:40AM -0800, Greg Wilson wrote:

Just add a Makefile rule for AUTHORS so ‘make’ lists it as an
available target?

[2016-01-11 18:17] gvwilson commented on #288
I expect 5% or less of instructors would find it that way - we should
include a few sentences in the instructor training.

[2016-01-11 18:33] wking commented on #288
On Mon, Jan 11, 2016 at 10:17:45AM -0800, Greg Wilson wrote:

Then maybe we need a “Maintenance” section in [1](https://github.com/swcarpentry/lesson-example) covering
lesson-maintainer workflows after the initial setup?

This repo is for lesson-maintainers, so instructor training doesn't
seem like the right place to me.  While most (all?) of our lesson
maintainers are also instructors, they're di

[2016-01-11 18:41] gvwilson commented on #288
But all lesson maintainers are instructors, and I hope that if we
include more on lesson maintenance in instructor training, more
instructors will contribute.  Dunno...

[2016-01-11 19:04] wking commented on #288
On Mon, Jan 11, 2016 at 10:41:39AM -0800, Greg Wilson wrote:

… who mostly passed through instructor training a while ago ;).

Sure, and I'm not opposed to a lesson-maintainer section during
instructor-training.  I just think that the primary lesson-maintainer
docs should live in this repository or lesson-example (see also #215).

[2016-01-30 22:41] wking commented on #199
On Tue, Mar 17, 2015 at 09:41:29AM -0700, Greg Wilson wrote:

Now that maintainers have been off on their own for a while, here's a
survey of what we have in the lessons listed on [1](http://software-carpentry.org/lessons/).  Raw line counts:

  $ for REPO in $REPOS; do wc -l $REPO/discussion.md; done | sort -nr
  wc: swc-novice-matlab/discussion.md: No such file or directory
  412 git-novice/disc

[2016-02-03 15:26] gvwilson opened #289 "Optional callouts"
Relocated from https://github.com/swcarpentry/python-novice-inflammation/issues/210

Many of our callouts add additional information to the lesson (and are great for people reading through the lessons) but may not be necessary to teach during workshops. It could be useful to note that the callouts aren't necessarily things that need to be taught in a workshop, but are primarily there for interest

[2016-02-03 16:09] gvwilson commented on #120
This one has gone stale, but will be revived once a new lesson format is agreed on - the new Kramdown tools for exporting an AST as JSON will help.

[2016-02-03 16:09] #120 closed, assigned to abought

[2016-02-03 16:12] iglpdc commented on #289
I'd rather not do 4 or 5: I think they will complicate things for both contributors and maintainers. I'm midway for 3, mostly because our topics are short enough to show everything and because a potential solo learner might miss the callout.

My preference is both 1 and 2, which are think they are independent and addressed to two different people (1 for instructors, 2 for learners).

[2016-02-16 17:14] atyre2 opened #291 "Running make unittest fails"
On a windows machine with Windows 7, after following the instructions to setup Python using Anaconda distribution (Python 3.5.1 :: Anaconda 2.5.0 (64-bit)), and for dependencies [here](https://github.com/swcarpentry/lesson-example#dependencies). I then imported lesson-template and created a new local repository. Just to make sure I have everything working, I try running `make unittest` which fails

[2016-02-20 19:34] twitwi opened #292 "Lessons reference a 404 on swc website"
The `_includes/javascript.html` references http://software-carpentry.org/v5/js/jquery-1.9.1.min.js which is not hosted (any more?) on our site.
It is probably used by bootstrap only, but it can cause problems later, I guess (I was expecting to have jquery loaded when trying something).

[2016-02-20 22:44] twitwi commented on #292
actually similar to https://github.com/swcarpentry/lesson-example/pull/23

[2016-02-21 00:24] twitwi opened #293 "About using js-parsons to add interactive exercices"
This issue is to track discussion and progress, following an old mailing list discussion, pasted below:

[2016-02-21 00:25] twitwi commented on #293
Mail from @gvwilson

[2016-02-21 00:26] twitwi commented on #293
Mail from @twitwi

[2016-02-21 00:36] twitwi commented on #293
And some actual progress, with 3 working examples, without too much boilerplate:
(these are work in progress and might be updated with time)
- demo (3 of the challenges): http://twitwi.github.io/python-novice-inflammation/02-loop.html
- source for these (the first challenge is the most "low level"): https://github.com/twitwi/python-novice-inflammation/commit/2f72807d9ade39a35e04205cc68a11db6c3beaa

[2016-02-21 19:01] rgaiacs commented on #292
@pbanaszkiewicz Do you have 5min that you could work on that?

[2016-02-21 19:06] pbanaszkiewicz commented on #292
[code]

—Reply to this email directly or view it on GitHub.

[2016-02-21 19:17] twitwi commented on #292
No worries, I'll take it: I wasn't sure about using a cdn or not, but we have other online dependencies so it is not a big issue.

[2016-03-04 00:41] DanielBaird opened #296 "inline code phrases sometimes wrap awkwardly"
While looking through the shell novice lessons, a few times an inline command wrapped awkwardly.

E.g. the `p*.p?*` on the second line here wraps the asterisk to the next line:
![poor-wrap-1](https://cloud.githubusercontent.com/assets/25352/13514400/37443410-e1f4-11e5-93d1-59ebd4a867bb.png)

And the command starting with `wc` on the second line here:
![poor-wrap-2](https://cloud.githubusercontent.

[2016-03-04 00:48] gvwilson commented on #296
Please add - we can use all the help we can get with our CSS.

[2016-03-04 21:04] twitwi commented on #296
I agree. Please make a pull request.
If inline code is too long, it probably shouldn't be inline.

[2016-03-07 04:14] DanielBaird commented on #296
I've submitted pull req #297 to update the lesson template.  Is there a way to retro-fit the fix to existing lessons?  If there's no automated system, I can make the same change to each core lesson (or at least add it to my to do list...)

[2016-03-07 17:23] wking commented on #296
On Sun, Mar 06, 2016 at 08:14:38PM -0800, Daniel Baird wrote:

I don't see any references to the repository in the current
lesson-template or lesson-example content, but at least as of 600c4344
(Merge branch 'master' of github.com:swcarpentry/styles into core,
2015-03-21, #206) the CSS and generic JavaScript was being maintained
in [1](https://github.com/swcarpentry/styles).  If that's still the c

[2016-03-07 23:24] DanielBaird commented on #296
Ah, I didn't see that other repo.. I'll re-do my pull req against that.

I won't close this for now, in case it turns out merging from the styles repo is problematic. But I'm okay with it being closed by someone who knows for sure.